{% extends 'base-not-sub-menu.html' %}

{% block content %}
<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100%;">
    <span style="margin-bottom: 20px; font-size: 1.85em;">Вы вышли из аккаунта</span> 
    <a href="{% url 'login'%}" class="btn__min-yellow" style="width: 150px;">Войти</a>
</div>  

{% endblock %}