{% extends 'base-not-sub-menu.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<div class="content-title no-sub-menu">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index' %}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Вход в личный кабинет</span>
    </div>
    <h1 class="content-title__title">Вход в личный кабинет</h1>
</div>
<div class="lk-access">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
    {% endif %}
    <div class="lk-access">
        <form method="POST">
            {% csrf_token %}
            <label for="{{ form.username.label_id }}">Логин</label>
            {{ form.username }}
            <label for="{{ form.username.label_id }}">Пароль</label>
            {{ form.password }}
            <button type="submit" class="btn__min-yellow">Вход</button>
            <span>или</span>
            <a href="{% url 'lk:client_visits' %}">Войти с помощью
                <svg>
                    <use href="{% static '' %}images/icons.svg#i-vk"></use>
                </svg>
            </a>
            <a href="{% url 'lk:client_visits' %}">Войти с помощью
                <svg class="last">
                    <use href="{% static '' %}images/icons.svg#i-google"></use>
                </svg>
            </a>
            <span class="link">Нет аккаунта?
                <a href="{% url 'register' %}">Зарегистрироваться</a>
            </span>
            {# Assumes you setup the password_reset view in your URLconf #}
            <a href="{% url 'password_reset' %}">Забыли пароль?</a>
        </form>
    </div>

</div>
{% endblock %}