{% extends 'base-not-sub-menu.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="content-title no-sub-menu">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index' %}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Регистрация</span>
    </div>
    <h1 class="content-title__title">Регистрация в личном кабинете</h1>
</div>
<div class="lk-access">
    <form method="POST">
        {% csrf_token %}
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}">Логин</label>
        {{ form.username }}
        {{ form.password1.errors }}
        <label for="{{ form.password1.id_for_label }}">Пароль</label>
        {{ form.password1 }}
        {{ form.password2.errors }}
        <label for="{{ form.password2.id_for_label }}">Подтвердите пароль</label>
        {{ form.password2 }}

        <button type="submit" class="btn__min-yellow">Зарегистироваться</button>
        <span>или</span>
        <a href="{% url 'lk:client_visits' %}">Войти с помощью
            <svg>
                <use href="{% static '' %}images/icons.svg#i-vk"></use>
            </svg>
        </a>
        <a href="{% url 'lk:client_visits' %}">Войти с помощью
            <svg class="last">
                <use href="{% static '' %}images/icons.svg#i-google"></use>
            </svg>
        </a>
        <span class="link">Есть аккаунт?
            <a href="acc-authorization.html">Войти</a>
        </span>
    </form>
</div>
{% endblock %}