{% extends 'base.html' %}

{% load static %}

{% block title %}Врачи{% endblock %}

{% block sub-menu__title%}
<h2>Направления</h2>
{% endblock %}

{% block left-menu %}
{% if direction_active == 0 %}
<a href="{% url 'workers:client_list' %}" class="sub-menu__link">
    <span class="sub-menu__active">Все</span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% else %}
<a href="{% url 'workers:client_list' %}" class="sub-menu__link">
    <span>Все</span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endif %}
{% if directions_list %}
{% for direction in directions_list %}
<a href="{% url 'workers:client_category' direction.id %}" class="sub-menu__link">
    {% if direction == direction_active %}
    <span class="sub-menu__active">{{ direction.name }}</span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
    {% else %}
    <span>{{ direction.name }}</span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
    {% endif %}
</a>
{% endfor %}
{% else %} направления не найдены
{% endif %}
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index' %}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        {% if direction_active == 0%}
        <a href="{% url 'workers:client_list' %}" class="content-title__link">Врачи: Все</a>
        {% else %}
        <a href="{% url 'workers:client_category' direction_active.id %}" class="content-title__link">Врачи:
            {{direction_active.name}}</a>
        {% endif %}
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">{{ doc.surname }} {{ doc.name }} {{ doc.patronymic }}</span>
    </div>
    <h1 class="content-title__title">{{ doc.surname }} {{ doc.name }} {{ doc.patronymic }}</h1>
    <div class="m-sub-menu">
        <button class="m-sub-menu__btn">Все направления</button>
    </div>
</div>
<div class="card-title">
    <div class="card-title__stars">
        <svg>
            <use href="./images/icons.svg#i-star-full"></use>
        </svg>
        <svg>
            <use href="./images/icons.svg#i-star-full"></use>
        </svg>
        <svg>
            <use href="./images/icons.svg#i-star-full"></use>
        </svg>
        <svg>
            <use href="./images/icons.svg#i-star-full"></use>
        </svg>
        <svg>
            <use href="./images/icons.svg#i-star-full"></use>
        </svg>
    </div>
    <div class="card-title__text">
        <div class="card-title__title">{{ doc.position }}</div>
    </div>
</div>
<section class="card-info">
    <div class="card-info__row-doc">
        <div class="card-info__avatar">
            {% if doc.photo %}
            <img src="{{doc.photo.url}}" alt="">
            {% else %}
            <svg style="width: 150px; color:#F2C879">
                <use href="{% static '' %}images/icons.svg#i-doctor"></use>
            </svg>
            {% endif %}
        </div>
        <span class="card-info__info">{{ doc.info }}</span>
        <div class="card-info__buttons">
            <a href="{% url 'reviews:client_create' %}" class="btn__min-yellow">Оставить отзыв</a>
            <button class="btn__min-orange">Записаться к врачу</button>
        </div>
    </div>
</section>
{% if services_list %}
<section class="card-doc-services">
    <h3 class="card-h3">Услуги врача</h3>
    <div class="grid-services">
        {% for service in services_list %}
        <div class="grid-services__row">
            <span>{{ service.name }}</span>
            <a href="appointment.html" class="btn__min-orange">Записаться на услугу</a>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
<section class="schedule">
    <h3 class="card-h3">Расписание</h3>
    <div class="schedule-select">
        <button>
            <svg>
                <use href="./images/icons.svg#i-left-arrow"></use>
            </svg>
        </button>
        <span>Ноябрь 2019</span>
        <button>
            <svg>
                <use href="./images/icons.svg#i-right-arrow"></use>
            </svg>
        </button>
    </div>
    <div class="schedule-grid">
        <div class="schedule-grid__top">
            <div class="cell">ПН
            </div>
            <div class="cell">ВТ
            </div>
            <div class="cell">СР
            </div>
            <div class="cell">ЧТ
            </div>
            <div class="cell">ПТ
            </div>
            <div class="cell">СБ
            </div>
            <div class="cell">ВС
            </div>
        </div>
        <div class="schedule-grid__body"></div>
    </div>
    <section class="schedule-filials">
        <div class="schedule-filials__row">
            <div class="color orange"></div>
            <span>ул. Советская, д. 155</span>
        </div>
        <div class="schedule-filials__row">
            <div class="color blue"></div>
            <span>ул. Советская, д. 155</span>
        </div>
        <div class="schedule-filials__row">
            <div class="color green"></div>
            <span>ул. Советская, д. 155</span>
        </div>
        <div class="schedule-filials__row">
            <div class="color yellow"></div>
            <span>ул. Советская, д. 155</span>
        </div>
    </section>
</section>
{% if reviews_list %}
<section class="card-reviews">
    <h3 class="card-h3">Отзывы</h3>
    <div class="card-reviews__list">
        {% for review in reviews_list %}
        <div class="card-reviews__item">
            <div class="card-reviews__client">
                <div class="card-reviews__col-1">
                    {% if review.client.photo %}
                    <img src="{{ review.client.photo.url }}" alt="">
                    {% else %}
                    <svg class="content-title__img">
                        <use href="{% static '' %}images/icons.svg#i-user"></use>
                    </svg>
                    {% endif %}
                </div>
                <div class="card-reviews__col-2">
                    <div class="card-reviews__stars">
                        {% for i in 'x'|rjust:review.star %}
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-full"></use>
                        </svg>
                        {% endfor %}
                        {% if review.star == 4 %}
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        {% elif review.star == 3 %}
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        {% elif review.star == 2 %}
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        {% elif review.star == 1 %}
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        {% endif %}
                    </div>
                    <span class="card-reviews__name">{{review.date}}</span>
                    {% if review.client %}
                    <span class="card-reviews__name">{{review.client.surname}} {{review.client.name}}
                        {{review.client.patronymic}}</span>
                    {% else %}
                    <span class="card-reviews__name">{{review.name}}</span>
                    {% endif %}
                    <span class="card-reviews__name">{{review.client.surname}} {{review.client.name}}
                </div>
            </div>
            <div class="card-reviews__review-content">
                <span>Отзыв</span>
                <span>Врач: {{review.doctor.surname}} {{review.doctor.name}}
                    {{review.doctor.patronymic}}</span>
                <div class="card-reviews__input  cropping">
                    <div class="card-reviews__review-text">{{review.content}}</div>
                </div>
                {% if review.comment %}
                <span>Комментарий</span>
                <div class="card-reviews__input cropping">
                    <div class="card-reviews__comment-text">{{review.comment}}</div>
                </div>
                {% endif %}
                <div class="card-reviews__button">
                    <a class="btn__min-yellow" href="{% url 'reviews:client_detail' 0 review.id %}">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- <div class="card-reviews__btn-all" style="margin-bottom: 10px">
        <button class="btn__min-yellow">Показать еще</button>
    </div> -->
</section>
{% endif %}
{% endblock %}