{% extends 'base.html' %}

{% load static %}

{% block title %}Врачи{% endblock %}

{% block sub-menu__title%}
<h2>Направления</h2>
{% endblock %}

{% block left-menu %}
{% if direction_active == 0 %}
<a href="{% url 'workers:client_list' %}" class="sub-menu__link">
    <span class="sub-menu__active">Все</span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% else %}
<a href="{% url 'workers:client_list' %}" class="sub-menu__link">
    <span>Все</span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endif %}
{% if directions_list %}
{% for direction in directions_list %}
<a href="{% url 'workers:client_category' direction.id %}" class="sub-menu__link">
    {% if direction == direction_active %}
    <span class="sub-menu__active">{{ direction.name }}</span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
    {% else %}
    <span>{{ direction.name }}</span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
    {% endif %}
</a>
{% endfor %}
{% else %} направления не найдены
{% endif %}
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index' %}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        {% if direction_active == 0%}
        <span class="content-title__text">Врачи: Все</span>
        {% else %}
        <span class="content-title__text">Врачи: {{direction_active.name}}</span>
        {% endif %}
    </div>
    <h1 class="content-title__title">Врачи</h1>
    <div class="m-sub-menu">
        <button class="m-sub-menu__btn">Все направления</button>
    </div>
</div>
<section class="search-row">
    <form class="search" style="width: 100%;" action="{% url 'workers:client_list' %}">
        <div class="search__img">
            <label class="search__label" for="search">
                <svg>
                    <use href="{% static '' %}images/icons.svg#i-search"></use>
                </svg>
            </label>
        </div>
        <input name="search" id="search" class="search__input" type="text" placeholder="найти врача">
        <button type="submit" class="search__button">
            <svg class="search__button">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </button>
    </form>
</section>
<section class="doc-list">
    {% if doctors_list %}
    {% for doc in doctors_list.object_list %}
    <div class="doc-list__item">
        <div class="doc-list__col-1">
            <div class="doc-list__img">
                {% if doc.photo %}
                <img src="{{doc.photo.url}}" alt="">
                {% else %}
                <svg style="width: 150px; color:#F2C879">
                    <use href="{% static '' %}images/icons.svg#i-doctor"></use>
                </svg>
                {% endif %}
            </div>
            <span class="doc-list__name">{{ doc.surname }} {{ doc.name }} {{ doc.patronymic }}</span>
            <span class="doc-list__position">{{ doc.position }}</span>
            <!-- <span class="doc-list__info">{{ doc.info }}</span> -->
        </div>


        {% if doc in doctors_with_reviews %}

        <div class="doc-list__col-2">
            <button class="doc-list__arrow" onclick="setCarusel(this, -1)">
                <svg class="doc-list__arrow">
                    <use href="{% static '' %}images/icons.svg#i-left-arrow"></use>
                </svg>
            </button>
            <div class="doc-list__wrap">
                <div class="doc-list__reviews" data-carusel>
                    {% if doctors_review %}
                    {% for review in doctors_review %}
                    {% if review.doctor == doc %}
                    <div class="card-reviews__item">
                        <div class="card-reviews__client">
                            <div class="card-reviews__col-1">
                                {% if review.client.photo %}
                                <img src="{{ review.client.photo.url }}" alt="">
                                {% else %}
                                <svg class="content-title__img">
                                    <use href="{% static '' %}images/icons.svg#i-user"></use>
                                </svg>
                                {% endif %}
                            </div>
                            <div class="card-reviews__col-2">
                                <div class="card-reviews__stars">
                                    {% for i in 'x'|rjust:review.star %}
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-full"></use>
                                    </svg>
                                    {% endfor %}
                                    {% if review.star == 4 %}
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                    </svg>
                                    {% elif review.star == 3 %}
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                    </svg>
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                    </svg>
                                    {% elif review.star == 2 %}
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                    </svg>
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                    </svg>
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                    </svg>
                                    {% elif review.star == 1 %}
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                    </svg>
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                    </svg>
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                    </svg>
                                    <svg>
                                        <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                    </svg>
                                    {% endif %}
                                </div>
                                <span class="card-reviews__name">{{review.date}}</span>
                                {% if review.client %}
                                <span class="card-reviews__name">{{review.client.surname}} {{review.client.name}}
                                    {{review.client.patronymic}}</span>
                                {% else %}
                                <span class="card-reviews__name">{{review.name}}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-reviews__review-content">
                            <span>Отзыв</span>
                            <span>Врач: {{review.doctor.surname}} {{review.doctor.name}}
                                {{review.doctor.patronymic}}</span>
                            <div class="card-reviews__input  cropping">
                                <div class="card-reviews__review-text">{{review.content}}</div>
                            </div>
                            {% if review.comment %}
                            <span>Комментарий</span>
                            <div class="card-reviews__input cropping">
                                <div class="card-reviews__comment-text">{{review.comment}}</div>
                            </div>
                            {% endif %}
                            <div class="card-reviews__button">
                                <a class="btn__min-yellow"
                                    href="{% url 'reviews:client_detail' 0 review.id %}">Подробнее</a>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <button class="doc-list__arrow" onclick="setCarusel(this, 1)">
                <svg class=" doc-list__arrow">
                    <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                </svg>
            </button>
        </div>
        {% endif %}

        <div class="doc-list__btn">
            <a href="add-review.html" class="btn__min-yellow two">Оставить отзыв</a>
            {% if direction_active == 0 %}
            <a href="{% url 'workers:client_detail' 0 doc.id %}" class="btn__min-yellow two">Посмотреть подробнее</a>
            {% else %}
            <a href="{% url 'workers:client_detail' direction_active.id doc.id %}"
                class="btn__min-yellow two">Посмотреть подробнее</a>
            {% endif %}
            <a href="appointment.html" class="btn__min-orange">Записаться на прием</a>
        </div>
    </div>
    {% endfor %}
    {% else %} врачи не найдены
    {% endif %}

</section>
<section class="pagination">
    {% if doctors_list.has_previous %}
    <a href="?page={{ doctors_list.previous_page_number }}">«</a>
    {% endif %}
    {% for pg in doctors_list.paginator.page_range %}
    {% if doctors_list.number == pg %}
    <a href="?page={{ pg }}" class="pagination__active">{{ pg }}</a>
    {% else %}
    <a href="?page={{ pg }}">{{ pg }}</a>
    {% endif %}
    {% endfor %}
    {% if doctors_list.has_next %}
    <a href="?page={{ doctors_list.next_page_number }}">»</a>
    {% endif %}
</section>


{% endblock %}