{% extends 'base.html' %}

{% load static %}

{% block title %}Акции{% endblock %}

{% block sub-menu__title%}
    <h2>Список акций</h2>
{% endblock %}

{% block left-menu %}
    {% if sale_list %}
        {% for sale in sale_list %}
            <a href="{% url 'sales:client_sale' sale.id %}" class="sub-menu__link">
                {% if sale == sale_active %}
                    <span class="sub-menu__active">{{ sale.name }}</span>
                    <svg class="sub-menu__img sub-menu__active">
                        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% else %}
                    <span>{{ sale.name }}</span>
                    <svg class="sub-menu__img">
                        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% endif %}
            </a>
        {% endfor %}
    {% else %} акции не найдены
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content-title">
        <div class="content-title__crumbs">
            <a href="index.html" class="content-title__link">
                <span>Главная</span>
            </a>
            <svg class="content-title__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
            <span class="content-title__text">Акции - {{sale_active.name}}</span>
        </div>
        <h1 class="content-title__title">Акция "{{sale_active.name}}"</h1>
        <div class="m-sub-menu">
            <button class="m-sub-menu__btn">Все акции</button>
        </div>
    </div>
    <div class="card-title">
        <div class="card-title__time">{{ sale_active.start_date }} - {{ sale_active.end_date }}</div>
        <div class="card-title__text">
            {% if sale_active.cost == None %}
                <div class="card-title__cost">БЕСПЛАТНО</div>
            {% else %}
                <div class="card-title__cost">{{ sale_active.cost }} руб.</div>
            {% endif %}
        </div>
    </div>
    <section class="card-info">
        <h3 class="card-h3">
            Описание акции
        </h3>
        <div class="card-info__row">
            <div class="card-info__text">
                <span class="card-info__info">{{ sale_active.description }}</span>
                <span class="card-info__time">
                    Продолжительность: {{ sale_active.duration }} минут
                </span>
            </div>
            <div class="card-info__buttons">
                <a  href="appointment.html" class="btn__min-orange">Записаться на акцию</a>
            </div>
        </div>
    </section>
    {% if sale_doctors %}
        <section class="card-doctors">
            <h3 class="card-h3">Врачи</h3>
            <div class="card-doctors__row">
                {% for doc in sale_doctors %}
                    <a href="doctor-card.html" class="card-doctors__item">
                        <img src="{{ doc.photo.url }}" alt="">
                        <span class="ld__doctors__name">{{ doc.surname }} {{ doc.name }} {{ doc.patronymic }}</span>
                        <span class="ld__doctors__info">{{ doc.position }}</span>
                        <div class="card-doctors__btn-visit">
                            <button class="btn__min-orange">Записаться к врачу</button>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    {% endif %}

{% endblock %}