{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ветеринарная клиника</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './styles.css' %}">
</head>

<body>
    <div class="page">
        <div class="page__header">
            <div class="header">
                <div class="header__logo">
                    <img src="{% static './images/logo.svg' %}" alt="Логотип">
                </div>
                <div class="header__rows">
                    <div class="header__row">
                        <div class="header__col header__col--left">
                            <a href="#">
                                <svg class="header__soc">
                                    <use href="{% static '' %}images/icons.svg#i-instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="header__soc">
                                    <use href="{% static '' %}images/icons.svg#i-vk"></use>
                                </svg>
                            </a>
                            <a class="header__tel" href="tel:+78008888888">+7(800)-888-88-88</a>
                            <div class="header__city">Иркутск</div>
                        </div>
                        <div class="header__col header__col--rigth">
                            <div class="header__menu">
                                <svg class="header__i-menu">
                                    <use href="{% static '' %}images/icons.svg#i-menu"></use>
                                </svg>
                            </div>
                            <div class="header__min-logo">
                                <img class="" src="{% static './images/logo.svg' %}" alt="">
                            </div>
                            <a href="{% url 'lk:client_visits' %}">
                                {% if user.is_authenticated %}
                                <a href="{% url 'lk:client_visits' %}" class="header__city">{{ user.username }}</a>
                                <a href="{% url 'logout' %}" class="btn__max-yellow" style="margin-right: 10px; min-width: 60px; width: 60px">Выйти</a>
                                {% else %}
                                <svg class="header__user">
                                    <use href="{% static '' %}images/icons.svg#i-user"></use>
                                </svg>
                                {% endif %}
                            </a>
                            <a href="{% url 'visits:client_app' %}" class="btn__max-orange">Запись на прием</a>
                        </div>
                    </div>
                    <div class="header__row">
                        <div class="main-menu hide">
                            <a href="{% url 'main:index' %}" class="main-menu__link">Главная</a>
                            <a href="{% url 'services:client_list' %}" class="main-menu__link">Услуги</a>
                            <a href="{% url 'workers:client_list' %}" class="main-menu__link">Врачи</a>
                            <a href="{% url 'filials:client_contacts' %}" class="main-menu__link">Контакты</a>
                            <a href="{% url 'reviews:client_list' %}" class="main-menu__link">Отзывы</a>
                            <a href="{% url 'sales:client_list' %}" class="main-menu__link">Акции</a>
                            <a href="{% url 'lk:client_visits' %}" class="main-menu__link last">Личный кабинет</a>
                            <div class="main-menu__mobil-row">
                                <a href="#" class="main-menu__mobil">
                                    <svg class="header__soc">
                                        <use href="{% static '' %}images/icons.svg#i-instagram"></use>
                                    </svg>
                                </a>
                                <a href="#" class="main-menu__mobil">
                                    <svg class="header__soc">
                                        <use href="./images/icons.svg#i-vk"></use>
                                    </svg>
                                </a>
                                <a class="header__tel main-menu__mobil"
                                    href="tel:+78008888888">+7(800)-888-88-88</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__body">
            <div class="page__content">
                <section class="ld__img">
                    <img src="{% static './images/1.jpg' %}" alt="">
                </section>
                <h2 class="ld__h2">О нас</h2>
                <section class="ld__about-us">
                    <div class="ld__about-us__items">
                        <div class="ld__about-us__item">
                            <svg>
                                <use href="{% static '' %}images/icons.svg#i-phone"></use>
                            </svg>
                            <h3>Всегда на связи</h3>
                            <span>Клиника работает круглосуточно</span>
                        </div>
                        <div class="ld__about-us__item">
                            <svg>
                                <use href="{% static '' %}images/icons.svg#i-ambulance"></use>
                            </svg>
                            <h3>Скорая помощь</h3>
                            <span>Возможность выезда на дом</span>
                        </div>
                        <div class="ld__about-us__item">
                            <svg>
                                <use href="{% static '' %}images/icons.svg#i-doctor"></use>
                            </svg>
                            <h3>Специалисты</h3>
                            <span>Работают профессиональные ветеринары</span>
                        </div>
                        <div class="ld__about-us__item">
                            <svg>
                                <use href="{% static '' %}images/icons.svg#i-foot"></use>
                            </svg>
                            <h3>Полный комплекс</h3>
                            <span>Все виды ветеринарных услуг</span>
                        </div>
                    </div>
                </section>
                {% if direction_list %}
                    <h2 class="ld__h2">Направления клиники</h2>
                    <section class="ld__directions">
                        <button onclick="setCarusel(this, -1)">
                            <svg class="ld__arrow">
                                <use href="{% static '' %}images/icons.svg#i-left-arrow"></use>
                            </svg>
                        </button>
                        <div class="ld__directions__wrap">
                            <div class="ld__directions__list" data-carusel>
                                {% for direction in direction_list %}
                                    <a href="{% url 'services:client_category' direction.id %}" class="ld__directions__item">
                                        <div class="ld__directions__img" style="background-image: url('{{ direction.photo.url }}')">
                                        </div>
                                        <span class="ld__directions__name">{{ direction.name }}</span>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                        <button onclick="setCarusel(this, 1)">
                            <svg class="ld__arrow">
                                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                            </svg>
                        </button>
                        <div class="ld__directions__btn">
                            <a href="{% url 'services:client_list' %}" class="btn__max-yellow">Показать все</a>
                        </div>
                    </section>
                {% endif %}
                {% if sale_list %}
                <h2 class="ld__h2">Акции</h2>
                <section class="ld__sale">
                    <button onclick="setCarusel(this, -1)">
                        <svg class="ld__arrow">
                            <use href="{% static '' %}images/icons.svg#i-left-arrow"></use>
                        </svg>
                    </button>
                    <div class="ld__sale__wrap">
                        <div class="ld__sale__list" data-carusel>
                            {% for sale in sale_list %}
                                <a href="{% url 'sales:client_sale' sale.id %}" class="ld__sale__item">
                                    <img src="{{ sale.photo.url }}" alt="">
                                    <span class="ld__sale__name">{{ sale.name }}</span>
                                    <div class="ld__sale__info">
                                        <span class="ld__sale__time">до {{ sale.end_date }}</span>
                                        {% if sale.cost == None %}
                                            <span class="ld__sale__cost" style="font-size: 1.2em">Бесплатно</span>
                                        {% else %}
                                            <span class="ld__sale__cost">{{ sale.cost }}</span>
                                        {% endif %}
                                    </div>
                                </a>
                                <a href="{% url 'sales:client_sale' sale.id %}" class="ld__sale__item">
                                    <img src="{{ sale.photo.url }}" alt="">
                                    <span class="ld__sale__name">{{ sale.name }}</span>
                                    <div class="ld__sale__info">
                                        <span class="ld__sale__time">до {{ sale.end_date }}</span>
                                        {% if sale.cost == None %}
                                            <span class="ld__sale__cost" style="font-size: 1.2em">Бесплатно</span>
                                        {% else %}
                                            <span class="ld__sale__cost">{{ sale.cost }}</span>
                                        {% endif %}
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <button onclick="setCarusel(this, 1)">
                        <svg class="ld__arrow">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                        </svg>
                    </button>
                    <div class="ld__sale__btn">
                        <a href="sale.html" class="btn__max-yellow">Показать все</a>
                    </div>
                </section>
                {% endif %}
                {% if doctors_list %}
                    <h2 class="ld__h2">Врачи</h2>
                    <section class="ld__doctors">
                        <button onclick="setCarusel(this, -1)">
                            <svg class="ld__arrow">
                                <use href="{% static '' %}images/icons.svg#i-left-arrow"></use>
                            </svg>
                        </button>
                        <div class="ld__doctors__wrap">
                            <div class="ld__doctors__list" data-carusel>
                                {% for doc in doctors_list %}
                                {% if doc.photo %}
                                    <a href="#" class="ld__doctors__item">
                                        <img src="{{ doc.photo.url }}" alt="">
                                        <span class="ld__doctors__name">{{ doc.surname }} {{ doc.name }} {{ doc.patronymic }}</span>
                                        <span class="ld__doctors__info">{{ doc.position }}</span>
                                    </a>
                                {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <button onclick="setCarusel(this, 1)">
                            <svg class="ld__arrow">
                                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                            </svg>
                        </button>
                        <div class="ld__doctors__btn">
                            <a href="{% url 'workers:client_list' %}" class="btn__max-yellow">Показать все</a>
                        </div>
                    </section>
                {% endif %}
                <h2 class="ld__h2">Адреса</h2>
                <section class="ld__address">
                    <div class="ld__address__row">
                        <div class="ld__address__card">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2440.9692912617047!2d104.35263631566667!3d52.28025947976946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5da83ba323cb5061%3A0x13d05147ff685ad8!2z0KHQvtCy0LXRgtGB0LrQsNGPINGD0LsuLCAxNTUsINCY0YDQutGD0YLRgdC6LCDQmNGA0LrRg9GC0YHQutCw0Y8g0L7QsdC7LiwgNjY0MDA5!5e0!3m2!1sru!2sru!4v1569934791796!5m2!1sru!2sru"
                                width="600" height="450" frameborder="0" allowfullscreen=""></iframe>
                        </div>
                        <div class="ld__address__list">
                            <div class="ld__contacts">
                                <span class="ld__contacts__address"><a href="contacts.html">Адрес: г. Иркутск, ул. Советская, д.
                                        155</a></span>
                                <span class="ld__contacts__phone">Телефон: <a href="tel:88008888888"> +7(800)888-88-88</a></span>
                                <span class="ld__contacts__mail">Электронный адрес: <a
                                        href="#">pochta@gmail.com</a></span>
                                <span class="ld__contacts__time">График работы: круглосуточно </span>
                            </div>
                            <div class="ld__address__line"></div>
                            <div class="ld__contacts">
                                <span class="ld__contacts__address"><a href="contacts.html">Адрес: г. Иркутск, ул. Советская, д.
                                        155</a></span>
                                <span class="ld__contacts__phone">Телефон: <a href="tel:88008888888"> +7(800)888-88-88</a></span>
                                <span class="ld__contacts__mail">Электронный адрес: <a
                                        href="#">pochta@gmail.com</a></span>
                                <span class="ld__contacts__time">График работы: круглосуточно </span>
                            </div>
                            <div class="ld__address__line"></div>
                            <div class="ld__contacts">
                                <span class="ld__contacts__address"><a href="contacts.html">Адрес: г. Иркутск, ул. Советская, д.
                                        155</a></span>
                                <span class="ld__contacts__phone">Телефон: <a href="tel:88008888888"> +7(800)888-88-88</a></span>
                                <span class="ld__contacts__mail">Электронный адрес: <a
                                        href="#">pochta@gmail.com</a></span>
                                <span class="ld__contacts__time">График работы: круглосуточно </span>
                            </div>
                            <div class="ld__address__line"></div>
                            <div class="ld__contacts">
                                <span class="ld__contacts__address"><a href="contacts.html">Адрес: г. Иркутск, ул. Советская, д.
                                        155</a></span>
                                <span class="ld__contacts__phone">Телефон: <a href="tel:88008888888"> +7(800)888-88-88</a></span>
                                <span class="ld__contacts__mail">Электронный адрес: <a
                                        href="#">pochta@gmail.com</a></span>
                                <span class="ld__contacts__time">График работы: круглосуточно </span>
                            </div>
                        </div>
                    </div>
                </section>
            
            </div>

        </div>
        <div class="page__footer">
            <div class="footer">
                <div class="footer__logo">
                    <img src="{% static './images/logo.svg' %}" alt="">
                </div>
                <div class="footer__menu">
                    <a href="index.html">Главная</a>
                    <a href="{% url 'services:client_list' %}">Услуги</a>
                    <a href="{% url 'workers:client_list' %}">Врачи</a>
                    <a href="contacts.html">Контакты</a>
                    <a href="{% url 'reviews:client_list' %}">Отзывы</a>
                    <a href="{% url 'sales:client_list' %}">Акции</a>
                    <a href="{% url 'lk:client_visits' %}">Личный кабинет</a>
                </div>
                <div class="footer__contacts">
                    <div class="footer__soc">
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-instagram"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-vk"></use>
                        </svg>
                    </div>
                    <a href="tel:+78008888888">+7(800)-888-88-88</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static './scripts.js' %}"></script>
</body>

</html>