{% extends 'base-not-sub-menu.html' %}

{% load static %}

{% block title %}Добавить отзыв{% endblock %}

{% block content %}
<div class="content-title no-sub-menu">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index'%}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <a href="{% url 'reviews:client_list' %}" class="content-title__link">
            <span>Отзывы</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Добавить отзыв</span>
    </div>
    <h1 class="content-title__title">Добавить отзыв</h1>
</div>
<div class="review-form">
    <form method="POST">
        {% csrf_token %}
        <label for="name">Имя</label>
        {% if client != '' %}
        <input type="text" id="name" name="name" value="{{ client.name }}" readonly>
        {% else %}
        <input type="text" id="name" name="name">
        {% endif %}
        <label for="mail">Почта</label>
        {% if client != '' %}
        <input type="email" id="mail" name="mail" value="{{ client.mail }}" required>
        {% else %}
        <input type="email" id="mail" name="mail" required>
        {% endif %}
        <label for="tel">Телефон</label>
        {% if client != '' %}
        <input type="tel" id="tel" name="tel" value="{{ client.phone }}">
        {% else %}
        <input type="tel" id="tel" name="tel">
        {% endif %}
        <label for="rbs">О чем Ваш отзыв?</label>
        <div class="review-form__row r-radio">
            <label for="rb1" style="margin-bottom: 5px;">
                <input type="radio" id="rb1" class="radio" name="review" value="1" checked>
                отзыв о враче</label>
            <label for="rb2">
                <input type="radio" id="rb2" class="radio" name="review" value="2">
                отзыв об услуге</label>
        </div>
        <label>Выберите из списка:</label>
        <select name="doctors" id="select1" data-show-by="rb1">
            {% for doctor in doctors_list %}
            <option value="{{doctor.id}}">{{doctor.surname}} {{doctor.name}} {{doctor.patronymic}}</option>
            {% endfor %}
        </select>
        <select name="services" id="select2" data-show-by="rb2">
            {% for service in services_list %}
            <option value="{{service.id}}">{{service.name}}</option>
            {% endfor %}
        </select>
        <label for="">Отзыв</label>
        <div class="review-form__stars">
            <div class="rating">
                <input class="star" type="radio" name="star" aria-label="5" value="5">
                <input class="star" type="radio" name="star" aria-label="4" value="4">
                <input class="star" type="radio" name="star" aria-label="3" value="3">
                <input class="star" type="radio" name="star" aria-label="2" value="2">
                <input class="star" type="radio" name="star" aria-label="1" value="1" checked>
            </div>
        </div>
        {{ form.content }}
        <button type="submit">Оптравить</button>
    </form>
</div>


{% endblock %}

{% block js %}
<script src="{% static './add_review.js' %}"></script>
{% endblock %}