{% extends 'base.html' %}

{% load static %}

{% block title %}Отзывы{% endblock %}

{% block sub-menu__title%}
<h2>Категории</h2>
{% endblock %}

{% block left-menu %}
{% if direction_active == 0 %}
<a href="{% url 'reviews:client_list' %}" class="sub-menu__link">
    <span class="sub-menu__active">Все</span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% else %}
<a href="{% url 'reviews:client_list' %}" class="sub-menu__link">
    <span>Все</span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endif %}
{% if directions_list %}
{% for direction in directions_list %}
{% if direction == 'Услуги' %}
<a href="{% url 'reviews:client_category' 1 %}" class="sub-menu__link">
    {% else %}
    <a href="{% url 'reviews:client_category' 2 %}" class="sub-menu__link">
        {% endif %}

        {% if direction == direction_active %}
        <span class="sub-menu__active">{{ direction }}</span>
        <svg class="sub-menu__img sub-menu__active">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        {% else %}
        <span>{{ direction }}</span>
        <svg class="sub-menu__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        {% endif %}
    </a>
    {% endfor %}
    {% else %} категории не найдены
    {% endif %}
    {% endblock %}

    {% block content %}
    <div class="content-title">
        <div class="content-title__crumbs">
            <a href="{% url 'main:index'%}" class="content-title__link">
                <span>Главная</span>
            </a>
            <svg class="content-title__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
            {% if direction_active == '0' %}
            <a href="{% url 'reviews:client_list' %}" class="content-title__link">Отзывы: Все</a>
            {% elif direction_active == 'Услуги' %}
            <a href="{% url 'reviews:client_category' 1 %}" class="content-title__link">Отзывы: Услуги</a>
            {% elif direction_active == 'Врачи' %}
            <a href="{% url 'reviews:client_category' 2 %}" class="content-title__link">Отзывы: Врачи</a>
            {% endif %}
            <svg class="content-title__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
            <span class="content-title__text">Подробнее</span>
        </div>
        <h1 class="content-title__title">Отзыв</h1>
        <div class="m-sub-menu">
            <button class="m-sub-menu__btn">Все категории</button>
        </div>
    </div>
    <section class="card-reviews" style="margin-bottom: 10px;">
        <div class="card-reviews__item card">
            <div class="card-reviews__client">
                <div class="card-reviews__col-1">
                    {% if review.client.photo %}
                    <img src="{{ review.client.photo.url }}" alt="">
                    {% else %}
                    <svg class="content-title__img">
                        <use href="{% static '' %}images/icons.svg#i-user"></use>
                    </svg>
                    {% endif %}
                </div>
                <div class="card-reviews__col-2">
                    <div class="card-reviews__stars">
                        {% for i in 'x'|rjust:review.star %}
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-full"></use>
                        </svg>
                        {% endfor %}
                        {% if review.star == 4 %}
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        {% elif review.star == 3 %}
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        {% elif review.star == 2 %}
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        {% elif review.star == 1 %}
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                        </svg>
                        {% endif %}
                    </div>
                    <span class="card-reviews__name">{{review.date}}</span>
                    {% if review.client %}
                    <span class="card-reviews__name">{{review.client.surname}} {{review.client.name}} {{review.client.patronymic}}</span>
                    {% else %}
                    <span class="card-reviews__name">{{review.name}}</span>
                    {% endif %}
                </div>
            </div>
            <div class="card-reviews__review-content">
                <span>Отзыв</span>
                {% if review.service != None %}
                <span>Услуга: {{ review.service.name }}</span>
                {% endif %}
                {% if review.doctor != None %}
                <span>Врач: {{review.doctor.surname}} {{review.doctor.name}} {{review.doctor.patronymic}}</span>
                {% endif %}
                <div class="card-reviews__input">
                    <div class="card-reviews__review-text">{{review.content}}</div>
                </div>
                {% if review.comment %}
                <span>Комментарий</span>
                <div class="card-reviews__input cropping">
                    <div class="card-reviews__comment-text">{{review.comment}}</div>
                </div>
                {% endif %}
            </div>
            {% if review_photo %}
            <div class="card-reviews__screens">
                {% for photo in review_photo %}
                <a href="#openModal" class="screens__item">
                    <img src="{{ photo.photo.url }}" alt="">
                </a>
                <div id="openModal" class="modal">
                    <div class="modal__content">
                        <a href="#close" class="modal__close">×</a>
                        <img src="{{ photo.photo.url }}" alt="">
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </section>
    {% endblock %}