{% extends 'base.html' %}

{% load static %}

{% block title %}Отзывы{% endblock %}

{% block sub-menu__title%}
    <h2>Категории</h2>
{% endblock %}

{% block left-menu %}
    {% if direction_active == 0 %}
        <a href="{% url 'reviews:client_list' %}" class="sub-menu__link">
            <span class="sub-menu__active">Все</span>
            <svg class="sub-menu__img sub-menu__active">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    {% else %}
        <a href="{% url 'reviews:client_list' %}" class="sub-menu__link">
            <span>Все</span>
            <svg class="sub-menu__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    {% endif %}
    {% if directions_list %}
        {% for direction in directions_list %}
        {% if direction == 'Услуги' %}
            <a href="{% url 'reviews:client_category' 1 %}" class="sub-menu__link">
            {% else %}    
                <a href="{% url 'reviews:client_category' 2 %}" class="sub-menu__link">
            {% endif %} 
                
                {% if direction == direction_active %}
                    <span class="sub-menu__active">{{ direction }}</span>
                    <svg class="sub-menu__img sub-menu__active">
                        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% else %}
                    <span>{{ direction }}</span>
                    <svg class="sub-menu__img">
                        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% endif %}
            </a>
        {% endfor %}
    {% else %} категории не найдены
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content-title">
        <div class="content-title__crumbs">
            <a href="{% url 'main:index'%}" class="content-title__link">
                <span>Главная</span>
            </a>
            <svg class="content-title__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
            {% if direction_active == 0%}
                <span class="content-title__text">Отзывы: Все</span>
            {% else %}
                <span class="content-title__text">Отзывы: {{direction_active}}</span>
            {% endif %}
        </div>
        <h1 class="content-title__title">Отзывы</h1>
        <div class="m-sub-menu">
            <button class="m-sub-menu__btn">Все категории</button>
        </div>
    </div>
    <section class="search-row">
        <form class="search btn-in-search" action="{% url 'reviews:client_list' %}">
            <div class="search__img">
                <label class="search__label" for="search">
                    <svg>
                        <use href="{% static '' %}images/icons.svg#i-search"></use>
                    </svg>
                </label>
            </div>
            <input name="search" id="search" class="search__input" type="text" placeholder="найти отзыв">
            <button type="submit" class="search__button">
                <svg class="search__button">
                    <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                </svg>
            </button>
        </form>
        <div class="search-row__btn">
            <a href="{% url 'reviews:client_create' %}" class="btn__min-yellow">Написать отзыв</a>
        </div>
    </section>
    <section class="card-reviews">
        <div class="card-reviews__list">
            {% if reviews_list %}
                {% for review in reviews_list.object_list %}     
                    <div class="card-reviews__item">
                        <div class="card-reviews__client">
                            <div class="card-reviews__col-1">
                                {% if review.client.photo %}
                                <img src="{{ review.client.photo.url }}" alt="">
                                {% else %}
                                <svg class="content-title__img">
                                    <use href="{% static '' %}images/icons.svg#i-user"></use>
                                </svg>
                                {% endif %}
                            </div>
                            <div class="card-reviews__col-2">
                                <div class="card-reviews__stars">
                                        {% for i in 'x'|rjust:review.star %}
                                            <svg>
                                                <use href="{% static '' %}images/icons.svg#i-star-full"></use>
                                            </svg>
                                        {% endfor %}
                                        {% if review.star == 4 %}
                                            <svg>
                                                <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                            </svg>
                                        {% elif review.star == 3 %}
                                            <svg>
                                                <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                            </svg>
                                            <svg>
                                                    <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                            </svg>
                                        {% elif review.star == 2 %}
                                            <svg>
                                                <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                            </svg>
                                            <svg>
                                                    <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                            </svg>
                                            <svg>
                                                    <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                            </svg>
                                        {% elif review.star == 1 %}
                                            <svg>
                                                <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                            </svg>
                                            <svg>
                                                    <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                            </svg>
                                            <svg>
                                                    <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                            </svg>
                                            <svg>
                                                    <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                            </svg>
                                        {% endif %}
                                </div>
                                <span class="card-reviews__name">{{review.date}}</span>
                                {% if review.client %}
                                <span class="card-reviews__name">{{review.client.surname}} {{review.client.name}} {{review.client.patronymic}}</span>
                                {% else %}
                                <span class="card-reviews__name">{{review.name}}</span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-reviews__review-content">
                            <span>Отзыв</span>
                            {% if review.service != None %}
                                <span>Услуга: {{ review.service.name }}</span>
                            {% endif %}
                            {% if review.doctor != None %}
                                <span>Врач: {{review.doctor.surname}} {{review.doctor.name}} {{review.doctor.patronymic}}</span>
                            {% endif %}

                            <div class="card-reviews__input cropping">
                                <div class="card-reviews__review-text">{{review.content}}</div>
                            </div>
                            {% if review.comment %}
                                <span>Комментарий</span>
                                <div class="card-reviews__input cropping">
                                    <div class="card-reviews__comment-text">{{review.comment}}</div>
                                </div>
                            {% endif %}
                            <div class="card-reviews__button">
                                {% if direction_active == 0 %}
                                <a class="btn__min-yellow" href="{% url 'reviews:client_detail' 0 review.id %}">Подробнее</a>
                                {% elif direction_active == 'Услуги' %}
                                <a class="btn__min-yellow" href="{% url 'reviews:client_detail' 1 review.id %}">Подробнее</a>
                                {% elif direction_active == 'Врачи' %}
                                <a class="btn__min-yellow" href="{% url 'reviews:client_detail' 2 review.id %}">Подробнее</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %} отзывы не найдены
            {% endif %}
        </div>
    </section>
    <section class="pagination">
        {% if reviews_list.has_previous %}
            <a href="?page={{ reviews_list.previous_page_number }}">«</a>
        {% endif %}
        {% for pg in reviews_list.paginator.page_range %}
            {% if reviews_list.number == pg %}
                <a href="?page={{ pg }}" class="pagination__active">{{ pg }}</a>
            {% else %}
                <a href="?page={{ pg }}">{{ pg }}</a>
            {% endif %}
        {% endfor %}
        {% if reviews_list.has_next %}
            <a href="?page={{ reviews_list.next_page_number }}">»</a>
        {% endif %}
    </section>

{% endblock %}