{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Ветеринарная клиника{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './styles.css' %}">
</head>

<body>
    <div class="page">
        <div class="page__header">
            <div class="header">
                <a href="{% url 'main:index'%}" class="header__logo">
                    <img src="{% static './images/logo.svg' %}" alt="Логотип">
                </a>
                <div class="header__rows">
                    <div class="header__row">
                        <div class="header__col header__col--left">
                            <a href="#">
                                <svg class="header__soc">
                                    <use href="{% static '' %}images/icons.svg#i-instagram"></use>
                                </svg>
                            </a>
                            <a href="#">
                                <svg class="header__soc">
                                    <use href="{% static '' %}images/icons.svg#i-vk"></use>
                                </svg>
                            </a>
                            <a class="header__tel" href="tel:+78008888888">+7(800)-888-88-88</a>
                            <div class="header__city">Иркутск</div>
                        </div>
                        <div class="header__col header__col--rigth">
                            <div class="header__menu">
                                <svg class="header__i-menu">
                                    <use href="{% static '' %}images/icons.svg#i-menu"></use>
                                </svg>
                            </div>
                            <div class="header__min-logo">
                                <img src="{% static './images/logo.svg' %}" alt="">
                            </div>
                            <a href="{% url 'lk:client_visits' %}">
                                {% if user.is_authenticated %}
                                <a href="{% url 'lk:client_visits' %}" class="header__city">{{ user.username }}</a>
                                <a href="{% url 'logout' %}" class="btn__max-yellow" style="margin-right: 10px; min-width: 60px; width: 60px">Выйти</a>
                                {% else %}
                                <svg class="header__user">
                                    <use href="{% static '' %}images/icons.svg#i-user"></use>
                                </svg>
                                {% endif %}
                            </a>
                            <a href="{% url 'visits:client_app' %}" class="btn__max-orange">Запись на прием</a>
                        </div>
                    </div>
                    <div class="header__row">
                        <div class="main-menu hide">
                            <a href="{% url 'main:index' %}" class="main-menu__link">Главная</a>
                            <a href="{% url 'services:client_list' %}" class="main-menu__link">Услуги</a>
                            <a href="{% url 'workers:client_list' %}" class="main-menu__link">Врачи</a>
                            <a href="{% url 'filials:client_contacts' %}" class="main-menu__link">Контакты</a>
                            <a href="{% url 'reviews:client_list' %}" class="main-menu__link">Отзывы</a>
                            <a href="{% url 'sales:client_list' %}" class="main-menu__link">Акции</a>
                            <a href="{% url 'lk:client_visits' %}" class="main-menu__link last">Личный кабинет</a>
                            <div class="main-menu__mobil-row">
                                <a href="#" class="main-menu__mobil">
                                    <svg class="header__soc">
                                        <use href="./images/icons.svg#i-instagram"></use>
                                    </svg>
                                </a>
                                <a href="#" class="main-menu__mobil">
                                    <svg class="header__soc">
                                        <use href="./images/icons.svg#i-vk"></use>
                                    </svg>
                                </a>
                                <a class="header__tel main-menu__mobil"
                                    href="tel:+78008888888">+7(800)-888-88-88</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__body">
            <div class="page__sub-menu hide">
                <div class="sub-menu">
                    <div class="sub-menu__title">
                        {% block sub-menu__title%}{% endblock %}
                        <div class="m-sub-menu__close">
                            <svg>
                                <use href="{% static '' %}images/icons.svg#i-close"></use>
                            </svg>
                        </div>
                    </div>
                    {% block left-menu %}{% endblock %}
                </div>
            </div>
            <div class="page__content">
                {% if messages %}
                {% for message in messages %}
                <div>{{ message }}</div>
                {% endfor %}
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="page__footer">
            <div class="footer">
                <div class="footer__logo">
                    <img src="{% static './images/logo.svg' %}" alt="">
                </div>
                <div class="footer__menu">
                    <a href="index.html">Главная</a>
                    <a href="{% url 'services:client_list' %}">Услуги</a>
                    <a href="{% url 'workers:client_list' %}">Врачи</a>
                    <a href="{% url 'filials:client_contacts' %}">Контакты</a>
                    <a href="{% url 'reviews:client_list' %}">Отзывы</a>
                    <a href="{% url 'sales:client_list' %}">Акции</a>
                    <a href="{% url 'lk:client_visits' %}">Личный кабинет</a>
                </div>
                <div class="footer__contacts">
                    <div class="footer__soc">
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-instagram"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-vk"></use>
                        </svg>
                    </div>
                    <a href="tel:+78008888888">+7(800)-888-88-88</a>
                </div>
            </div>
        </div>
    </div>
    
    <script src="{% static './scripts.js' %}"></script>
    {% block js %}{% endblock %}
</body>

</html>