{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Ветеринарная клиника{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static './styles.css' %}">
</head>

<body>
    <div class="page">
        <div class="page__header">
            <div class="page__header">
                <div class="header adm">
                    <div class="header__logo adm">
                        <img src="{% static './images/logo.svg' %}" alt="Логотип">
                    </div>
                    <div class="header__rows">
                        <div class="header__row">
                            <div class="header__col header__col--left adm">
                            </div>
                            <div class="header__col header__col--rigth adm">
                                <div class="header__menu">
                                    <svg class="header__i-menu adm">
                                        <use href="{% static '' %}images/icons.svg#i-menu"></use>
                                    </svg>
                                </div>
                                <div class="header__min-logo adm">
                                    <img src="{% static './images/logo.svg' %}" alt="">
                                </div>
                                <a href="{% url 'visits:adm_list' %}">
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'visits:adm_list' %}" class="header__city">{{ user.username }}</a>
                                    <a href="{% url 'logout' %}" class="btn__max-yellow" style="margin-right: 10px; min-width: 60px; width: 60px">Выйти</a>
                                    {% else %}
                                    <svg class="header__user">
                                        <use href="{% static '' %}images/icons.svg#i-user"></use>
                                    </svg>
                                    {% endif %}
                                </a>
                                <a href="adm-visit-card__edit.html" class="btn__max-orange">Добавить запись</a>
                            </div>
                        </div>
                        <div class="header__row adm">
                            <div class="main-menu hide adm">
                                <a href="{% url 'visits:adm_list' %}" class="main-menu__link adm">Приемы</a>
                                <a href="#" class="main-menu__link adm">Сотрудники</a>
                                <a href="{% url 'clients:adm_list' %}" class="main-menu__link adm">Клиенты</a>
                                <a href="{% url 'services:index' %}" class="main-menu__link adm">Услуги</a>
                                <a href="#" class="main-menu__link adm">Акции</a>
                                <a href="#" class="main-menu__link adm">Финансы</a>
                                <a href="#" class="main-menu__link adm">Отзывы</a>
                                <a href="#" class="main-menu__link adm">Филиалы</a>
                                <div class="main-menu__mobil-row">
                                    <a href="#" class="main-menu__mobil adm">
                                        <svg class="header__soc">
                                            <use href="{% static '' %}images/icons.svg#i-instagram"></use>
                                        </svg>
                                    </a>
                                    <a href="#" class="main-menu__mobil">
                                        <svg class="header__soc">
                                            <use href="{% static '' %}images/icons.svg#i-vk"></use>
                                        </svg>
                                    </a>
                                    <a class="header__tel main-menu__mobil" href="tel:+78008888888">+7(800)-888-88-88</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__body">
            <div class="page__content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div class="page__footer">
            <div class="footer">
                <div class="footer__logo">
                    <img src="{% static './images/logo.svg' %}" alt="">
                </div>
                <div class="footer__menu">
                    <a href="{% url 'visits:adm_list' %}">Приемы</a>
                    <a href="adm-workers.html">Сотрудники</a>
                    <a href="{% url 'clients:adm_list' %}">Клиенты</a>
                    <a href="{% url 'services:index' %}">Услуги</a>
                    <a href="adm-sale.html">Акции</a>
                    <a href="adm-finance.html">Финансы</a>
                    <a href="adm-reviews.html">Отзывы</a>
                    <a href="adm-filials.html">Филиалы</a>
                </div>
                <div class="footer__contacts">
                    <div class="footer__soc">
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-instagram"></use>
                        </svg>
                        <svg>
                            <use href="{% static '' %}images/icons.svg#i-vk"></use>
                        </svg>
                    </div>
                    <a href="tel:+78008888888">+7(800)-888-88-88</a>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static './scripts.js' %}"></script>
    {% block js %}{% endblock %}
</body>

</html>