{% extends 'base.html' %}

{% load static %}

{% block title %}Контакты{% endblock %}

{% block sub-menu__title%}
<h2>Филиалы</h2>
{% endblock %}

{% block left-menu %}
{% endblock %}


{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="index.html" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="./images/icons.svg#i-right-arrow"></use>
        </svg>
        <a href="#" class="content-title__link">
            <span>Контакты</span>
        </a>
        <svg class="content-title__img">
            <use href="./images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Филиал ул. Советская, д. 155</span>
    </div>
    <h1 class="content-title__title">Филиал ул. Советская, д. 155</h1>
    <div class="m-sub-menu">
        <button class="m-sub-menu__btn">Все филиалы</button>
    </div>
</div>
<div class="con-all">
    <div class="con-all__row-1">
        <span>Круглосуточная справочная линия</span>
        <a href="tel:+78008888888">+7(800)-888-88-88</a>

    </div>
    <div class="con-all__row-2">
        <a href="#" class="con-all__soc">
            <svg>
                <use href="./images/icons.svg#i-instagram"></use>
            </svg>
        </a>
        <a href="#">@aibolit38</a>
        <a href="#" class="con-all__soc">
            <svg>
                <use href="./images/icons.svg#i-vk"></use>
            </svg>
        </a>
        <a href="#">https://vk.com/aibolit38</a>
    </div>
</div>
<section class="con">
    <div class="con__col-1">
        <div class="con__item">
            <h4>Адрес:</h4>
            <span>ул. Советская, д. 155</span>
        </div>
        <div class="con__item">
            <h4>График работы:</h4>
            <span>Круглосуточно</span>
        </div>
    </div>
    <div class="con__col-2">
        <div class="con__item">
            <h4>Телефон:</h4>
            <a href="tel:+78001111111">+7(800)-111-11-11</a>
        </div>
        <div class="con__item">
            <h4>Почта:</h4>
            <a href="#">pochta@mail.ru</a>
        </div>
    </div>
    <div class="con__col-3">
        <div class="con__item">
            <h4>WhatsApp, Telegram:</h4>
            <a href="tel:+78001111111">+7(800)-111-11-11</a>
        </div>
    </div>
</section>
<section class="con__card">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2440.9692912617047!2d104.35263631566667!3d52.28025947976946!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5da83ba323cb5061%3A0x13d05147ff685ad8!2z0KHQvtCy0LXRgtGB0LrQsNGPINGD0LsuLCAxNTUsINCY0YDQutGD0YLRgdC6LCDQmNGA0LrRg9GC0YHQutCw0Y8g0L7QsdC7LiwgNjY0MDA5!5e0!3m2!1sru!2sru!4v1569934791796!5m2!1sru!2sru"
        frameborder="0" allowfullscreen=""></iframe>
</section>
<form class="con-form" method="POST">
    {% csrf_token %}
    <h3>Напишите нам!</h3>
    <div class="con-form__info">
        {{form.name}}
        {{form.phone}}
        {{form.mail}}
        <!-- <input class="con-form__name" type="text" placeholder="Ваше имя" required>
        <input class="con-form__tel" type="tel" placeholder="Телефон">
        <input class="con-form__mail" type="email" placeholder="Почта"> -->
    </div>
    {{form.comment}}
    <!-- <textarea class="con-form__comment" placeholder="Комментарий" required></textarea> -->
    <div class="con-form__btn">
        <button type="submit"  class="btn__min-orange">Отправить</button>
    </div>

</form>
{% endblock %}
