{% extends 'base.html' %}

{% load static %}

{% block title %}Карточка приема{% endblock %}

{% block sub-menu__title%}
<h2>Личный кабинет</h2>
{% endblock %}

{% block left-menu %}
<a href="{% url 'lk:client_visits' %}" class="sub-menu__link">
    <span class="sub-menu__active">
        Приемы
    </span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_pets' %}" class="sub-menu__link">
    <span>
        Расписание
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_profile' %}" class="sub-menu__link">
    <span>
        Профиль
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endblock %}

{% block content %}
<div class="content-title adm">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index'%}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <a href="{% url 'lk:client_visits' %}" class="content-title__link">
            <span>Личный кабинет - Приемы</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Карточка приема</span>
    </div>
    <h1 class="content-title__title">Карточка приема</h1>
</div>
<section class="list-cards">
    <div class="list-cards__item">
        <div class="list-cards__col-1">
            <div class="list-cards__row">
                <div class="key">
                    <span>Питомец:</span>
                </div>
                <div class="value">
                    {% if visit.pet %}
                    <span>{{ visit.pet.kind.value }}</span>
                    {% else %}
                    <span>{{ visit.pet_kind.value }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Кличка:</span>
                </div>
                <div class="value">
                    {% if visit.pet %}
                    <span>{{ visit.pet.name }}</span>
                    {% else %}
                    <span>{{ visit.pet_name }}</span>
                    {% endif %}
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Пол:</span>
                </div>
                <div class="value">
                    {% if visit.pet.sex == True %}
                    <span>Мужской</span>
                    {% else %}
                    <span>Женский</span>
                    {% endif %}
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Дата рождения:</span>
                </div>
                <div class="value">
                    <span>{{ visit.pet.date_of_birth }}</span>
                </div>
            </div>
        </div>
        <div class="list-cards__col-2">
            <div class="list-cards__avatar">
                {% if visit.pet.photo %}
                <img src="{{visit.pet.photo.url}}" alt="">
                {% else %}
                <svg style="width: 90px;">
                    <use href="{% static '' %}images/icons.svg#i-foot"></use>
                </svg>
                {% endif %}
            </div>
        </div>
        {% if pet %}
        <!-- <div class="list-cards__btns">
            <a class="btn__min-yellow" href="{% url 'lk:client_history' visit.pet.id %}">История</a>
        </div> -->
        {% endif %}
    </div>
    <div class="list-cards__item">
        <div class="list-cards__col-1">
            <div class="list-cards__row">
                <div class="key">
                    <span>Фамилия:</span>
                </div>
                <div class="value">
                    {% if visit.client %}
                    <span>{{visit.client.surname}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Имя:</span>
                </div>
                <div class="value">
                    {% if visit.client %}
                    <span>{{visit.client.name}}</span>
                    {% else %}
                    <span>{{visit.name}}</span>
                    {% endif %}
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Отчество:</span>
                </div>
                <div class="value">
                    {% if visit.client %}
                    <span>{{visit.client.patronymic}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Телефон:</span>
                </div>
                <div class="value">
                    {% if visit.client %}
                    <span>{{visit.client.phone}}</span>
                    {% else %}
                    <span>{{visit.phone}}</span>
                    {% endif %}
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Почта:</span>
                </div>
                <div class="value">
                    {% if visit.client %}
                    <span>{{visit.client.mail}}</span>
                    {% else %}
                    <span>-</span>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="list-cards__col-2">
            <div class="list-cards__avatar">
                {% if visit.client.photo %}
                <img src="{{visit.client.photo.url}}" alt="">
                {% else %}
                <svg style="width: 85px;">
                    <use href="{% static '' %}images/icons.svg#i-user"></use>
                </svg>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<div class="adm-card__btns" style="margin-bottom: 20px; padding-right: 20px;">
    <!-- <a href="adm-visit-card__edit.html" class="btn__min-orange">Повторить</a> -->
    <!-- <a href="{% url 'lk:client_visit_card_edit' visit.id %}" class="btn__min-orange">Изменить</a> -->
</div>
<section class="lk-his-list">
    <div class="card-visit">
        <div class="card-visit__col-1">
            <div class="card-visit__row">
                <h4>ID:</h4>
                <span>{{ visit.id }}</span>
            </div>
            <div class="card-visit__row">
                <h4>Дата и время:</h4>
                <span>{{ visit.date }}</span>
            </div>
            <div class="card-visit__row">
                <h4>Филиал:</h4>
                <span>{{ visit.filial.address }}</span>
            </div>
            <div class="card-visit__row">
                <h4>Кабинет:</h4>
                <span>{{ visit.cabinet.name }}</span>
            </div>
            <div class="card-visit__row">
                <h4>Питомец:</h4>
                {% if visit.pet %}
                <span>{{ visit.pet.kind.value }}</span>
                {% else %}
                <span>{{ visit.pet_kind.value }}</span>
                {% endif %}
            </div>
            <div class="card-visit__row">
                <h4>Кличка:</h4>
                {% if visit.pet %}
                <span>{{ visit.pet.name }}</span>
                {% else %}
                <span>{{ visit.pet_name }}</span>
                {% endif %}
            </div>
            <div class="card-visit__row">
                <h4>Врач:</h4>
                <span>{{visit.doctor.surname}} {{visit.doctor.name|truncatechars:2}} {{visit.doctor.patronymic|truncatechars:2}}</span>
            </div>
            <div class="card-visit__row">
                <h4>Стоимость:</h4>
                <span>{{ visit.cost }}</span>
            </div>
        </div>
        <div class="card-visit__col-2">
            <h4>Услуга (-и):</h4>
            {% if visit.sale != None %}
            {% for service in visit.sale.services.all %}
            <span>{{ service.name }}</span>
            {% endfor %}
            {% else %}
            {% for service in visit.services.all %}
            <span>{{ service.name }}</span>
            {% endfor %}
            {% endif %}
        </div>
        <form class="card-visit__col-3" method="POST">
            {% csrf_token %}
            <h4>Комментарий от врача</h4>
            {{ form.comment }}
            <button type="submit" class="btn__min-orange">Сохранить и закрыть</button>
        </form>
    </div>
</section>
{% endblock %}