{% extends 'base.html' %}

{% load static %}

{% block title %}Карточка приема{% endblock %}

{% block sub-menu__title%}
<h2>Личный кабинет</h2>
{% endblock %}

{% block left-menu %}
<a href="{% url 'lk:client_visits' %}" class="sub-menu__link">
    <span class="sub-menu__active">
        Приемы
    </span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_pets' %}" class="sub-menu__link">
    <span>
        Расписание
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_profile' %}" class="sub-menu__link">
    <span>
        Профиль
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index'%}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <a href="{% url 'lk:client_visits' %}" class="content-title__link">
            <span>Личный кабинет - Приемы</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <a href="{% url 'lk:client_visit_card' visit.id %}" class="content-title__link">
            <span>Карточка приема</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Редактировать</span>
    </div>
    <h1 class="content-title__title">Редактировать прием</h1>
</div>
<section>
    <form class="app">
        <div class="app__col-1">
            <label for="fio">ФИО</label>
            {% if visit.client %}
            <input type="text" id="fio" value="{{visit.client.surname}} {{visit.client.name}} {{visit.client.patronymic}}" readonly>
            {% else %}
            <input type="text" id="fio" value="{{visit.name}}" readonly>
            {% endif %}
            <label for="tel">Телефон</label>
            {% if visit.client %}
            <input type="phone" id="tel" value="{{visit.client.phone}}" readonly>
            {% else %}
            <input type="phone" id="tel" value="{{visit.phone}}" readonly>
            {% endif %}
            <label for="pets">Питомец</label>
            {% if visit.pet %}
            <input type="text" id="pets" value="{{visit.pet.kind.value}}" readonly>
            {% else %}
            <input type="text" id="pets" value="{{visit.pet_kind.value}}" readonly>
            {% endif %}
            <label for="name">Кличка</label>
            {% if visit.pet %}
            <input type="text" id="pets" value="{{visit.pet.name}}" readonly>
            {% else %}
            <input type="text" id="pets" value="{{visit.pet_name}}" readonly>
            {% endif %}

            <label for="services">Процедура</label>
            <select name="services" id="services" multiple style="min-height: 200px;">
                {% for service in services_all %}
                {% if service in visit.services.all %}
                <option value="{{service.id}}" selected>{{service.name}} {{service.cost}}</option>
                {% else %}
                <option value="{{service.id}}" >{{service.name}} {{service.cost}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="app__col-2">
            <div class="row">
                <div class="col">
                    <label for="filial">Филиал</label>
                    <input type="text" id="filial" value="{{visit.filial.address}}" readonly>
                    <!-- <select name="filial" id="filial">
                        {% for filial in filials_all %}
                        {% if filial == visit.filial %}
                        <option value="{{filial.id}}" selected>{{filial.address}}</option>
                        {% else %}
                        <option value="{{filial.id}}">{{filial.address}}</option>
                        {% endif %}
                        {% endfor %}
                    </select> -->
                </div>
                <div class="col">
                    <label for="cabinet">Кабинет</label>
                    <input type="text" id="cabinet" value="{{visit.cabinet.name}}" readonly>
                    <!-- <select name="cabinet" id="cabinet">
                        {% for cabinet in cabinets_all %}
                        {% if cabinet == visit.cabinet %}
                        <option value="{{cabinet.id}}" selected>{{cabinet.name}}</option>
                        {% else %}
                        <option value="{{cabinet.id}}">{{cabinet.name}}</option>
                        {% endif %}
                        {% endfor %}
                    </select> -->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="doctor">Врач</label>
                    <input type="text" id="cabinet" value="{{visit.doctor.surname}} {{visit.doctor.name}} {{visit.doctor.patronymic}}" readonly>
                    <!-- <select name="" id="doctor">
                        <option value="">Иванова И.И.</option>
                        <option value="">Иванова И.И.</option>
                        <option value="">Иванова И.И.</option>
                    </select> -->
                </div>
                <div class="col">
                    <label for="date">Дата и время</label>
                    <input id="date" name="date" type="text" value="{{visit.date}}" readonly>
                    <!-- <select name="" id="date">
                        <option value="">11.11.2019</option>
                        <option value="">11.11.2019</option>
                        <option value="">11.11.2019</option>
                    </select> -->
                </div>
            </div>
            <!-- <label>Время</label>
            <div class="app__time">
                <label for="08:00" class="cell" style="font-weight:normal">08:00
                    <input id="08:00" name="08:00" type="radio">
                </label>
                <label for="08:20" class="cell" style="font-weight:normal">08:20
                    <input id="08:20" name="08:20" type="radio">
                </label>
                <label for="08:40" class="cell" style="font-weight:normal">08:40
                    <input id="08:40" name="08:40" type="radio">
                </label>
                <label for="09:00" class="cell" style="font-weight:normal">09:00
                    <input id="09:00" name="09:00" type="radio">
                </label>
                <label for="09:20" class="cell" style="font-weight:normal">09:20
                    <input id="09:20" name="09:20" type="radio">
                </label>
                <label for="09:40" class="cell" style="font-weight:normal">09:40
                    <input id="09:40" name="09:40" type="radio">
                </label>
                <label for="10:00" class="cell" style="font-weight:normal">10:00
                    <input id="10:00" name="10:00" type="radio">
                </label>
                <label for="10:20" class="cell" style="font-weight:normal">10:20
                    <input id="10:20" name="10:20" type="radio">
                </label>
            </div> -->
            <div class="row">
                <label for="comment">Комментарий от врача</label>
                <textarea name="" id="comment" style="width: 100%; min-height: 320px">{{visit.comment}}</textarea>
            </div>
        </div>
        <div class="app__col-3">
            <div class="app__col-1">
                <label for="cost">Общая стоимость</label>
                <input readonly type="text" class="app__cost" value="1000.00">
            </div>
            <div class="app__btn">
                <button class="btn__min-orange" >Выполнить прием</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}