{% extends 'base.html' %}

{% load static %}

{% block title %}Приемы{% endblock %}

{% block sub-menu__title%}
<h2>Личный кабинет</h2>
{% endblock %}


{% block left-menu %}
<a href="{% url 'lk:client_visits' %}" class="sub-menu__link">
    <span class="sub-menu__active">
        Приемы
    </span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="#" class="sub-menu__link">
    <span>
        Расписание
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="#" class="sub-menu__link">
    <span>
        Профиль
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index'%}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Личный кабинет - Приемы</span>
    </div>
    <h1 class="content-title__title">Приемы</h1>
    <div class="m-sub-menu desc-show">
        <button class="m-sub-menu__btn">Все разделы</button>
    </div>
</div>
<section class="filter">
    <div class="col">
        <h4>Фильтр по услуге</h4>
        <div class="filter__list">
            <div class="filter__item">
                <div class="col-1">
                    <h5>Услуга</h5>
                </div>
                <div class="col-2">
                    <h5>Выбор</h5>
                </div>
            </div>
            <div class="filter__item">
                <div class="col-1">
                    <span>Все</span>
                </div>
                <div class="col-2">
                    <input type="checkbox" value="0" checked>
                </div>
            </div>
            {% if services_all %}
            {% for service in services_all %}
            <div class="filter__item">
                <div class="col-1">
                    <span>{{ service.name }}</span>
                </div>
                <div class="col-2" >
                    <input type="checkbox" value="{{ service.id }}">
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col">
        <h4>Фильтр по клиенту</h4>
        <div class="filter__list">
            <div class="filter__item">
                <div class="col-1">
                    <h5>Клиент</h5>
                </div>
                <div class="col-2">
                    <h5>Выбор</h5>
                </div>
            </div>
            <div class="filter__item">
                <div class="col-1">
                    <span>Все</span>
                </div>
                <div class="col-2">
                    <input type="checkbox" value="0" checked>
                </div>
            </div>
            {% if clients_all %}
            {% for client in clients_all %}
            <div class="filter__item">
                <div class="col-1">
                    <span>{{client.surname}} {{client.name}} {{client.patronymic}}</span>
                </div>
                <div class="col-2">
                    <input type="checkbox" value="{{client.id}}">
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="col">
        <h4>Найти дату</h4>
        <input type="date">
    </div>
    <div class="col">
        <h4>Показывать время</h4>
        <input type="time">
        <span>-</span>
        <input type="time">
    </div>
    <div class="filter__btn">
        <a href="#" class="btn__min-yellow">Сбросить все</a>
        <a href="#"  class="btn__min-yellow">Показать</a>
    </div>
</section>
<section class="planer">
    <div class="planer-select">
        <a href="{% url 'lk:client_visits' %}?date={{prev_week}}">
            <svg>
                <use href="{% static '' %}images/icons.svg#i-left-arrow"></use>
            </svg>
        </a>
        <span>21.10 - 27.10</span>
        <a href="{% url 'lk:client_visits' %}?date={{next_week}}">
            <svg>
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    </div>
    <div class="planer-grid">
    </div>
    <div class="planer-filter">

    </div>
</section>

{{data}}
{{k}}
{{planer_from}}
{{planer_to}}
{% endblock %}
{% block js %}
<script>window.PlanerData=JSON.parse('{{data|safe}}')</script>
<script>window.PlanerFrom=('{{planer_from}}')</script>
<script>window.PlanerTo=('{{planer_to}}')</script>
<script src="{% static './planer.js' %}"></script>
{% endblock %}