{% extends 'base.html' %}

{% load static %}

{% block title %}Мои питомцы{% endblock %}

{% block sub-menu__title%}
<h2>История приемов</h2>
{% endblock %}

{% block left-menu %}
<a href="{% url 'lk:client_visits' %}" class="sub-menu__link">
    <span>
        Приемы
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_pets' %}" class="sub-menu__link">
    <span class="sub-menu__active">
        Мои питомцы
    </span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_profile' %}" class="sub-menu__link">
    <span>
        Профиль
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endblock %}


{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index'%}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <a href="{% url 'lk:client_pets' %}" class="content-title__link">
            <span>Личный кабинет - Мои питомцы</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">История приемов</span>
    </div>
    <h1 class="content-title__title">История приемов</h1>
    <div class="m-sub-menu">
        <button class="m-sub-menu__btn">Все разделы</button>
    </div>
</div>

<section class="list-cards">
    <div class="list-cards__item">
        <div class="list-cards__col-1">
            <div class="list-cards__row">
                <div class="key">
                    <span>Питомец:</span>
                </div>
                <div class="value">
                    <span>{{ pet.kind.value }}</span>
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Кличка:</span>
                </div>
                <div class="value">
                    <span>{{ pet.name }}</span>
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Пол:</span>
                </div>
                <div class="value">
                    {% if pet.sex == True %}
                    <span>Мужской</span>
                    {% else %}
                    <span>Женский</span>
                    {% endif %}
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Дата рождения:</span>
                </div>
                <div class="value">
                    <span>{{ pet.date_of_birth }}</span>
                </div>
            </div>
        </div>
        <div class="list-cards__col-2">
            <div class="list-cards__avatar">
                {% if pet.photo %}
                <img src="{{pet.photo.url}}" alt="">
                {% else %}
                <svg>
                    <use href="{% static '' %}images/icons.svg#i-foot"></use>
                </svg>
                {% endif %}
            </div>
        </div>
    </div>
    <form class="lk-his-search">
        <div class="lk-his-search__row">
            <label>Дата от
            </label>
            {% if date_from == '' %}
            <input name="date_from" class="lk-his-search__date" type="date">
            {% else %}
            <input name="date_from" class="lk-his-search__date" type="date"  value="{{date_from}}">
            {% endif %}
            <label>Дата до
            </label>
            {% if date_before == '' %}
            <input name="date_before" class="lk-his-search__date" type="date">
            {% else %}
            <input name="date_before" class="lk-his-search__date" type="date" value="{{date_before}}">
            {% endif %}
        </div>
        <div class="lk-his-search__row">
            <label for="service">Услуга
            </label>
            <select name="service" id="">
                {% if s_f == 'Все' %}
                <option selected>Все</option>
                {% else %}
                <option>Все</option>
                {% endif %}
                {% for service in service_filter %}
                {% if s_f == service.id %}
                <option value="{{service.id}}" selected>{{service.name}}</option value="{{pet.id}}">
                {% else %}
                <option value="{{service.id}}">{{service.name}}</option value="{{pet.id}}">
                {% endif %}
                {% endfor %}
            </select>
            <label for="doctor">Врач
            </label>
            <select name="doctor" id="">
                {% if d_f == 'Все' %}
                <option selected>Все</option>
                {% else %}
                <option>Все</option>
                {% endif %}
                {% for doc in doctors_filter %}
                {% if d_f == doc.id %}
                <option value="{{doc.id}}" selected>{{doc.surname}} {{doc.name}} {{doc.patronymic}}</option>
                {% else %}
                <option value="{{doc.id}}">{{doc.surname}} {{doc.name}} {{doc.patronymic}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="lk-his-search__btn">
            <a href="{% url 'lk:client_history' pet.id %}" class="btn__min-blue" style="margin-right: auto; margin-left: 10px;">Очистить фильтр</a>
            <button class="btn__min-blue" type="submit">Поиск</button>
        </div>
    </form>
</section>

{% if visits %}
{% for visit in visits.object_list %}
<section class="lk-his-list">
    <div class="card-visit">
        <div class="card-visit__col-1">
            <div class="card-visit__row">
                <h4>ID:</h4>
                <span>{{ visit.id}}</span>
            </div>
            <div class="card-visit__row">
                <h4>Дата и время:</h4>
                <span>{{ visit.date }}</span>
            </div>
            <div class="card-visit__row">
                <h4>Филиал:</h4>
                <span>{{ visit.filial.address }}</span>
            </div>
            <div class="card-visit__row">
                <h4>Кабинет:</h4>
                <span>{{ visit.cabinet.name }}</span>
            </div>
            <div class="card-visit__row">
                <h4>Питомец:</h4>
                <span>{{ visit.pet.kind.value }}</span>
            </div>
            <div class="card-visit__row">
                <h4>Кличка:</h4>
                <span>{{ visit.pet.name }}</span>
            </div>
            <div class="card-visit__row">
                <h4>Врач:</h4>
                <span>{{visit.doctor.surname}} {{visit.doctor.name|truncatechars:2}}
                    {{visit.doctor.patronymic|truncatechars:2}}</span>
            </div>
            <div class="card-visit__row">
                <h4>Стоимость:</h4>
                <span>{{ visit.cost }} руб.</span>
            </div>
        </div>
        <div class="card-visit__col-2">
            <h4>Услуга (-и):</h4>
            {% if visit.sale != None %}
            {% for service in visit.sale.services.all %}
            <span>{{ service.name }}</span>
            {% endfor %}
            {% else %}
            {% for service in visit.services.all %}
            <span>{{ service.name }}</span>
            {% endfor %}
            {% endif %}
        </div>
        {% if visit.comment %}
        <div class="card-visit__col-3">
            <h4>Комментарий от врача</h4>
            <div class="card-visit__comment">
                {{ visit.comment }}
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endfor %}
<section class="pagination">
    {% if visits.has_previous %}
    <a href="?page={{ visits.previous_page_number }}">«</a>
    {% endif %}
    {% for pg in visits.paginator.page_range %}
    {% if visits.number == pg %}
    <a href="?page={{ pg }}" class="pagination__active">{{ pg }}</a>
    {% else %}
    <a href="?page={{ pg }}">{{ pg }}</a>
    {% endif %}
    {% endfor %}
    {% if visits.has_next %}
    <a href="?page={{ visits.next_page_number }}">»</a>
    {% endif %}
</section>
{% endif %}
{% endblock %}