{% extends 'base.html' %}

{% load static %}

{% block title %}Профиль{% endblock %}

{% block sub-menu__title%}
<h2>Личный кабинет</h2>
{% endblock %}

{% block left-menu %}
<a href="{% url 'lk:client_visits' %}" class="sub-menu__link">
    <span>
        Приемы
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_pets' %}" class="sub-menu__link">
    <span>
        Мои питомцы
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_profile' %}" class="sub-menu__link">
    <span class="sub-menu__active">
        Профиль
    </span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index'%}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Личный кабинет - Профиль</span>
    </div>
    <h1 class="content-title__title">Профиль</h1>

    <div class="m-sub-menu">
        <button class="m-sub-menu__btn">Все разделы</button>
    </div>
</div>
<section class="lk-profile">
    <div class="lk-profile__col-1">
        <div class="lk-profile__row">
            <h4>Фамилия:</h4>
            <span>{{ client.surname }}</span>
        </div>
        <div class="lk-profile__row">
            <h4>Имя:</h4>
            <span>{{ client.name }}</span>
        </div>
        <div class="lk-profile__row">
            <h4>Отчество:</h4>
            <span>{{ client.patronymic }}</span>
        </div>
        <div class="lk-profile__row">
            <h4>Телефон:</h4>
            <span>{{ client.phone }}</span>
        </div>
        <div class="lk-profile__row">
            <h4>Почта:</h4>
            <span>{{ client.mail }}</span>
        </div>
    </div>
    <div class="lk-profile__col-2">
        {% if client.photo %}
        <div class="lk-profile__avatar">
            <img src="{{client.photo.url}}" alt="">
        </div>
        {% endif %}
    </div>
    <div class="lk-profile__col-4">
        <button class="btn__min-yellow">Изменить пароль</button>
        <button class="btn__min-orange">Удалить страницу</button>
        <a href="lk-profile__edit.html" class="btn__min-yellow">Редактировать</a>
    </div>
</section>

{% endblock %}