{% extends 'base.html' %}

{% load static %}

{% block title %}Мои питомцы{% endblock %}

{% block sub-menu__title%}
<h2>Личный кабинет</h2>
{% endblock %}

{% block left-menu %}
<a href="{% url 'lk:client_visits' %}" class="sub-menu__link">
    <span>
        Приемы
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_pets' %}" class="sub-menu__link">
    <span class="sub-menu__active">
        Мои питомцы
    </span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_profile' %}" class="sub-menu__link">
    <span>
        Профиль
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index'%}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Личный кабинет - Мои питомцы</span>
    </div>
    <h1 class="content-title__title">Мои питомцы</h1>
    <div class="m-sub-menu">
        <button class="m-sub-menu__btn">Все разделы</button>
    </div>
</div>
<section class="list-cards">
    <div class="list-cards__btn-add">
        <a class="btn__min-yellow" href="{% url 'lk:client_pet_create' %}">Добавить питомца</a>
    </div>
    {% if pets_list %}
    {% for pet in pets_list %}
    <div class="list-cards__item">
        <div class="list-cards__col-1">
            <div class="list-cards__row">
                <div class="key">
                    <span>Питомец:</span>
                </div>
                <div class="value">
                    <span>{{ pet.kind.value }}</span>
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Кличка:</span>
                </div>
                <div class="value">
                    <span>{{ pet.name }}</span>
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Пол:</span>
                </div>
                <div class="value">
                    {% if pet.sex == True %}
                    <span>Мужской</span>
                    {% else %}
                    <span>Женский</span>
                    {% endif %}
                </div>
            </div>
            <div class="list-cards__row">
                <div class="key">
                    <span>Дата рождения:</span>
                </div>
                <div class="value">
                    <span>{{ pet.date_of_birth }}</span>
                </div>
            </div>
        </div>
        <div class="list-cards__col-2">
            <div class="list-cards__avatar">
                {% if pet.photo %}
                <img src="{{pet.photo.url}}" alt="">
                {% else %}
                <svg>
                    <use href="{% static '' %}images/icons.svg#i-foot" style="color: white;"></use>
                </svg>
                {% endif %}
            </div>
        </div>
        <div class="list-cards__btns">
            <a class="btn__min-yellow" href="{% url 'lk:client_history' pet.id %}">История</a>
            <a class="btn__min-orange" href="{% url 'lk:client_pet_edit' pet.id %}">Редактировать</a>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>
{% endblock %}