{% extends 'base.html' %}

{% load static %}


{% block title %}
{% if operation == 'create' %}
Добавить питомца
{% else %}
Редактировать питомца
{% endif %}
{% endblock %}

{% block sub-menu__title%}
<h2>Личный кабинет</h2>
{% endblock %}

{% block left-menu %}
<a href="{% url 'lk:client_visits' %}" class="sub-menu__link">
    <span>
        Приемы
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_pets' %}" class="sub-menu__link">
    <span class="sub-menu__active">
        Мои питомцы
    </span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_profile' %}" class="sub-menu__link">
    <span>
        Профиль
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index'%}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <a href="{% url 'lk:client_pets' %}" class="content-title__link">
            <span>Личный кабинет - Мои питомца</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        {% if operation == 'create' %}
        <span class="content-title__text">Добавить питомца</span>
        {% else %}
        <span class="content-title__text">Редактировать питомца</span>
        {% endif %}
    </div>
    {% if operation == 'create' %}
    <h1 class="content-title__title">Добавить питомца</h1>
    {% else %}
    <h1 class="content-title__title">Редактировать питомца</h1>
    {% endif %}
    <div class="m-sub-menu">
        <button class="m-sub-menu__btn">Все разделы</button>
    </div>
</div>
<form class="lk-profile" method="POST">
    {% csrf_token %}
    <div class="lk-profile__col-1">
        <div class="lk-profile__row">
            <label for="type">Питомец:
            </label>
            {{ form.kind }}
        </div>
        <div class="lk-profile__row">
            <label for="name">Кличка:
            </label>
            {{ form.name }}
        </div>
        <div class="lk-profile__row">
            <label for="sex">Пол:
            </label>
            <select id="sex" name="sex" id="">
                {% if operation == 'create' %}
                <option value="1">мужской</option>
                <option value="0">женский</option>
                {% else %}
                {% if pet.sex == True %}
                <option value="1" selected>мужской</option>
                <option value="0">женский</option>
                {% else %}
                <option value="1">мужской</option>
                <option value="0" selected>женский</option>
                {% endif %}
                {% endif %}
            </select>
        </div>
        <div class="lk-profile__row">
            <label for="date">Дата рождения:
            </label>
            {% if operation == 'create' %}
            <input type="date" name="date_of_birth">
            {% else %}
            <input type="date" name="date_of_birth" value="{{ pet.date_of_birth.year }}-{{ pet.date_of_birth.month }}-{{ pet.date_of_birth.day }}"> 
            {% endif %}
        </div>
    </div>
    <div class="lk-profile__col-2">
        <div class="lk-profile__avatar">
            {% if pet.photo %}
            <img src="{{pet.photo.url}}" alt="">
            {% else %}
            <svg>
                <use href="{% static '' %}images/icons.svg#i-foot"></use>
            </svg>
            {% endif %}
        </div>
    </div>
    <div class="lk-profile__col-4">
        <button class="btn__min-orange">Загрузить фото</button>
        <button class="btn__min-orange">Удалить фото</button>
        <button type="submit" class="btn__min-yellow">Сохранить</button>
    </div>
</form>

{% endblock %}