{% extends 'base.html' %}

{% load static %}

{% block title %}Приемы{% endblock %}

{% block sub-menu__title%}
<h2>Личный кабинет</h2>
{% endblock %}

{% block left-menu %}
<a href="{% url 'lk:client_visits' %}" class="sub-menu__link">
    <span class="sub-menu__active">
        Приемы
    </span>
    <svg class="sub-menu__img sub-menu__active">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_pets' %}" class="sub-menu__link">
    <span>
        Мои питомцы
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
<a href="{% url 'lk:client_profile' %}" class="sub-menu__link">
    <span>
        Профиль
    </span>
    <svg class="sub-menu__img">
        <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
    </svg>
</a>
{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="{% url 'main:index'%}" class="content-title__link">
            <span>Главная</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Личный кабинет - Приемы</span>
    </div>
    <h1 class="content-title__title">Приемы</h1>
    <div class="m-sub-menu">
        <button class="m-sub-menu__btn">Все разделы</button>
    </div>
</div>
{% if visits_active %}
<section class="visits-card">
    <h3>Актуальные записи</h3>
    <div class="visits-card__list">
        {% for visit in visits_active %}
        <div class="visits-card__item">
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>ID:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.id }}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Дата:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.date }}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Филиал:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.filial.address }}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Кабинет:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.cabinet.name }}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Питомец:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.pet.kind }} {{ visit.pet.name }}</span>
                </div>
            </div>
            {% if visit.sale %}
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Акция:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.sale.name }}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Услуга(-и):</h4>
                </div>
                <div class="visits-card__row__col-2">
                    {% for service in visit.sale.services.all %}
                    <span>{{ service.name }}</span>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Услуга(-и):</h4>
                </div>
                <div class="visits-card__row__col-2">
                    {% for service in visit.services.all %}
                    <span>{{ service.name }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Врач:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{visit.doctor.surname}} {{visit.doctor.name}} {{visit.doctor.patronymic}}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Стоимость:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{visit.cost}}</span>
                </div>
            </div>
            <div class="visits-card__btn">
                <button class="btn__min-orange">Отменить запись</button>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}


<section class="visits-card">
    <h3>История приемов</h3>
    <form class="visits-search" action="{% url 'lk:client_visits' %}">
        <div class="visits-search__row">
            <label>Дата от
            </label>
            {% if date_from == '' %}
            <input name="date_from" class="visits-search__date" type="date">
            {% else %}
            <input name="date_from" class="visits-search__date" type="date" value="{{date_from}}">
            {% endif %}
            <label>Дата до
            </label>
            {% if date_before == '' %}
            <input name="date_before" class="visits-search__date" type="date">
            {% else %}
            <input name="date_before" class="visits-search__date" type="date" value="{{date_before}}">
            {% endif %}
        </div>
        <div class="visits-search__row">
            <label for="service">Услуга
            </label>
            <select name="service" id="service">
                {% if s_f == 'Все' %}
                <option selected>Все</option>
                {% else %}
                <option>Все</option>
                {% endif %}
                {% for service in service_filter %}
                {% if s_f == service.id %}
                <option value="{{service.id}}" selected>{{service.name}}</option value="{{pet.id}}">
                {% else %}
                <option value="{{service.id}}">{{service.name}}</option value="{{pet.id}}">
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="visits-search__row">
            <label for="doctor">Врач
            </label>
            <select name="doctor" id="">
                {% if d_f == 'Все' %}
                <option selected>Все</option>
                {% else %}
                <option>Все</option>
                {% endif %}
                {% for doc in doctors_filter %}
                {% if d_f == doc.id %}
                <option value="{{doc.id}}" selected>{{doc.surname}} {{doc.name}} {{doc.patronymic}}</option>
                {% else %}
                <option value="{{doc.id}}">{{doc.surname}} {{doc.name}} {{doc.patronymic}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="visits-search__row">
            <label for="pet">Питомец
            </label>
            <select name="pet" id="">
                {% if p_f == 'Все' %}
                <option selected>Все</option>
                {% else %}
                <option>Все</option>
                {% endif %}
                {% for pet in pets_filter %}
                {% if p_f == pet.id %}
                <option value="{{pet.id}}" selected>{{pet.kind}} {{pet.name}}</option>
                {% else %}
                <option value="{{pet.id}}">{{pet.kind}} {{pet.name}}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="visits-search__btn">
            <a href="{% url 'lk:client_visits' %}" class="btn__min-blue" style="margin-right: auto; margin-left: 10px;">Очистить фильтр</a>
            <button class="btn__min-blue" type="submit">Поиск</button>
        </div>
    </form>
    {% if visits_history %}
    <div class="visits-card__list">
        {% for visit in visits_history.object_list %}
        <div class="visits-card__item">
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>ID:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.id }}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Дата:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.date }}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Филиал:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.filial.address }}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Кабинет:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.cabinet.name }}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Питомец:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.pet.kind }} {{ visit.pet.name }}</span>
                </div>
            </div>
            {% if visit.sale %}
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Акция:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{ visit.sale.name }}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Услуга(-и):</h4>
                </div>
                <div class="visits-card__row__col-2">
                    {% for service in visit.sale.services.all %}
                    <span>{{ service.name }}</span>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Услуга(-и):</h4>
                </div>
                <div class="visits-card__row__col-2">
                    {% for service in visit.services.all %}
                    <span>{{ service.name }}</span>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Врач:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{visit.doctor.surname}} {{visit.doctor.name}} {{visit.doctor.patronymic}}</span>
                </div>
            </div>
            <div class="visits-card__row">
                <div class="visits-card__row__col-1">
                    <h4>Стоимость:</h4>
                </div>
                <div class="visits-card__row__col-2">
                    <span>{{visit.cost}}</span>
                </div>
            </div>
            <div class="visits-card__btn">
                <a href="appointment.html" class="btn__min-orange">Повторить</a>
                <a href="{% url 'lk:client_visit_card' visit.id %}" class="btn__min-yellow">Просмотр</a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</section>

<section class="pagination">
    {% if visits_history.has_previous %}
    <a href="?page={{ visits_history.previous_page_number }}">«</a>
    {% endif %}
    {% for pg in visits_history.paginator.page_range %}
    {% if visits_history.number == pg %}
    <a href="?page={{ pg }}" class="pagination__active">{{ pg }}</a>
    {% else %}
    <a href="?page={{ pg }}">{{ pg }}</a>
    {% endif %}
    {% endfor %}
    {% if visits_history.has_next %}
    <a href="?page={{ visits_history.next_page_number }}">»</a>
    {% endif %}
</section>
{% endblock %}