{% extends 'base-adm.html' %}

{% load static %}

{% block title %}Услуги{% endblock %}

{% block sub-menu__title%}
    <h2>Направления</h2>
    <a href="adm-direction-card.html" class="sub-menu__plus">
        <svg>
            <use href="{% static '' %}images/icons.svg#i-plus"></use>
        </svg>
    </a>
{% endblock %}

{% block left-menu %}
    {% if direction_active == 0 %}
    <a href="{% url 'services:index' %}" class="sub-menu__link">
        <span class="sub-menu__active">Все ({{services_amount}})</span>
        <svg class="sub-menu__img sub-menu__active">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
    </a>
    {% else %}
    <a href="{% url 'services:index' %}" class="sub-menu__link">
        <span>Все ({{services_amount}})</span>
        <svg class="sub-menu__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
    </a>
    {% endif %}
    {% if directions_list %}
        {% for direction in directions_list %}
            <div class="row-menu">
                <a href="" class="svg-edit">
                    <svg>
                        <use href="{% static '' %}images/icons.svg#i-edit"></use>
                    </svg>
                </a>
                <a href="{% url 'services:category' direction.id %}" class="sub-menu__link">
                    {% if direction == direction_active %}
                        <span class="sub-menu__active">{{ direction.name }} ({{ direction.services.count }})</span>
                        <svg class="sub-menu__img sub-menu__active">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                        </svg>
                    {% else %}
                        <span>{{ direction.name }} ({{ direction.services.count }})</span>
                        <svg class="sub-menu__img">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                        </svg>
                    {% endif %}
                </a>
            </div>
        {% endfor %}
    {% else %} направления не найдены
    {% endif %}
{% endblock %}

{% block content %}
<div class="content-title adm">
        <div class="content-title__crumbs">
            {% if direction_active == 0%}
                <a href="{% url 'services:index' %}" class="content-title__link">
                    <span>Услуги - Все</span>
                </a>
            {% else %}
                <a href="{% url 'services:category' direction_active.id %}" class="content-title__link">
                    <span>Услуги - {{direction_active.name}}</span>
                </a>
            {% endif %}
        </div>
        <h1 class="content-title__title">Услуги</h1>
        <div class="m-sub-menu">
            <button class="m-sub-menu__btn">Все направления</button>
        </div>
    </div>
    <section class="search-sorting">
        <form class="search">
            <div class="search__img">
                <label class="search__label" for="search">
                    <svg>
                        <use href="{% static '' %}images/icons.svg#i-search"></use>
                    </svg>
                </label>
            </div>
            <input id="search" class="search__input" type="text" placeholder="найти услугу">
            <button class="search__button">
                <svg class="search__button">
                    <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                </svg>
            </button>
        </form>
        <div class="search-sorting__sort">
            <input type="radio" name="sort" id="id">
            <label for="id">ID</label>
            <input type="radio" name="sort" id="fio">
            <label for="fio">Цена</label>
            <svg>
                <use href="{% static '' %}images/icons.svg#i-bottom-arrow"></use>
            </svg>
        </div>
        <div class="search-sorting__btn">
            <a href="{% url 'services:create' %}" class="btn__min-orange">Добавить услугу</a>
        </div>
    </section>
    <section class="list">
        {% if services_list %}
            {% for service in services_list.object_list %}
                {% if direction_active == 0 %}
                    <a href="{% url 'services:detail' direction_active service.id %}" class="list__item">
                        <div class="list__description">
                            <div class="list__id">
                                <span class="id">{{ service.id }}</span>
                                <span class="name">{{ service.name }}</span>
                            </div>
                        </div>
                        <div class="list__cost">
                            <span>{{ service.cost }} pуб.</span>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'services:detail' direction_active.id service.id %}" class="list__item">
                        <div class="list__description">
                            <div class="list__id">
                                <span class="id">{{ service.id }}</span>
                                <span class="name">{{ service.name }}</span>
                            </div>
                        </div>
                        <div class="list__cost">
                            <span>{{ service.cost }} pуб.</span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %} услуги не найдены
        {% endif %}
    </section>
    <section class="pagination">
        {% if services_list.has_previous %}
            <a href="?page={{ services_list.previous_page_number }}">«</a>
        {% endif %}
        {% for pg in services_list.paginator.page_range %}
            {% if services_list.number == pg %}
                <a href="?page={{ pg }}" class="pagination__active">{{ pg }}</a>
            {% else %}
                <a href="?page={{ pg }}">{{ pg }}</a>
            {% endif %}
        {% endfor %}
        {% if services_list.has_next %}
            <a href="?page={{ services_list.next_page_number }}">»</a>
        {% endif %}
    </section>

{% endblock %}

