{% extends 'base-adm.html' %}

{% load static %}

{% block title %}{{service.name}}{% endblock %}

{% block sub-menu__title%}
    <h2>Направления</h2>
{% endblock %}

{% block left-menu %}
    {% if direction_active == 0 %}
        <a href="{% url 'services:index' %}" class="sub-menu__link">
            <span class="sub-menu__active">Все ({{services_amount}})</span>
            <svg class="sub-menu__img sub-menu__active">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    {% else %}
        <a href="{% url 'services:index' %}" class="sub-menu__link">
            <span>Все ({{services_amount}})</span>
            <svg class="sub-menu__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    {% endif %}
    {% if directions_list %}
        {% for direction in directions_list %}
            <a href="{% url 'services:category' direction.id %}" class="sub-menu__link">
                {% if direction == direction_active %}
                    <span class="sub-menu__active">{{ direction.name }} ({{ direction.services.count }})</span>
                    <svg class="sub-menu__img sub-menu__active">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% else %}
                    <span>{{ direction.name }} ({{ direction.services.count }})</span>
                    <svg class="sub-menu__img">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% endif %}
            </a>
        {% endfor %}
    {% else %} направления не найдены
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content-title adm">
        <div class="content-title__crumbs">
            {% if direction_active == 0%}
                <a href="{% url 'services:index' %}" class="content-title__link">
                    <span>Услуги - Все</span>
                </a>
            {% else %}
                <a href="{% url 'services:category' direction_active.id %}" class="content-title__link">
                    <span>Услуги - {{direction_active.name}}</span>
                </a>
            {% endif %}
            <svg class="content-title__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
            <span class="content-title__text">
                {{service.name}}
            </span>
        </div>
        <h1 class="content-title__title">{{service.name}}</h1>
        <div class="m-sub-menu">
            <button class="m-sub-menu__btn">Все направления</button>
        </div>
    </div>
    <section class="adm-card">
        <div class="row">
            <div class="col">
                <h3>Направление(-я)</h3>
                {% if service_directions %}
                    {% for direction in service_directions %}
                        <span>{{direction.name}}</span>
                    {% endfor %}
                {% else %} направления не найдены
                {% endif %}
            </div>
        </div>
        <h3>Описание услуги</h3>
        <div class="adm-card__container-text">
            {{service.description}}
        </div>
        <div class="row">
            <div class="col">
                <h3>Стоимость:</h3>
                <span>{{service.cost}}</span>
            </div>
            <div class="col">
                <h3>Продолжительность:</h3>
                <span>{{service.duration}} мин</span>
            </div>
            <div class="col">
                <h3>Показывать на сайте:</h3>
                {% if service.visibility == True %}
                    <span>Да</span>
                {% else %}
                    <span>Нет</span>
                {% endif %}
            </div>
            <div class="col">
                <h3>Необходима медсестра:</h3>
                {% if service.nurse == True %}
                    <span>Да</span>
                {% else %}
                    <span>Нет</span>
                {% endif %}
            </div>
        </div>
        <h3>Врачи</h3>
        <div class="adm-card__table">
            {% if service_doctors %}  
                {% for doc in service_doctors %}
                    <div class="item">{{doc.surname}} {{doc.name}} {{doc.patronymic}}</div> 
                {% endfor %}
            {% else %}<span class="item">нет врачей</span>
            {% endif %} 
        </div>
        <div class="adm-card__btns" style="padding-left: 0;">
            <a href="#" class="btn__min-orange">Удалить</a>
            <a href="adm-service-card__edit.html" class="btn__min-orange">Редактировать</a>
        </div>
    </section>
{% endblock %}

