{% extends 'base-adm.html' %}

{% load static %}


{% block title %}
    {% if service %}
        {{service.name}}
    {% else %}
        Новая услуга
    {% endif %}    
{% endblock %}
    
{% block sub-menu__title%}
    <h2>Направления</h2>
{% endblock %}

{% block left-menu %}
    {% if direction_active == 0 %}
        <a href="{% url 'services:index' %}" class="sub-menu__link">
            <span class="sub-menu__active">Все ({{services_amount}})</span>
            <svg class="sub-menu__img sub-menu__active">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    {% else %}
        <a href="{% url 'services:index' %}" class="sub-menu__link">
            <span>Все ({{services_amount}})</span>
            <svg class="sub-menu__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    {% endif %}
    {% if directions_list %}
        {% for direction in directions_list %}
            <a href="{% url 'services:category' direction.id %}" class="sub-menu__link">
                {% if direction == direction_active %}
                    <span class="sub-menu__active">{{ direction.name }} ({{ direction.services.count }})</span>
                    <svg class="sub-menu__img sub-menu__active">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% else %}
                    <span>{{ direction.name }} ({{ direction.services.count }})</span>
                    <svg class="sub-menu__img">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% endif %}
            </a>
        {% endfor %}
    {% else %} направления не найдены
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content-title adm">
        <div class="content-title__crumbs">
            {% if service %}
                {% if direction_active == 0%}
                    <a href="{% url 'services:index' %}" class="content-title__link">
                        <span>Услуги - Все</span>
                    </a>
                {% else %}
                    <a href="{% url 'services:category' direction_active.id %}" class="content-title__link">
                        <span>Услуги - {{direction_active.name}}</span>
                    </a>
                {% endif %}
                <svg class="content-title__img">
                    <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                </svg>
                <a href="adm-service-card.html" class="content-title__link">
                        <span>Индивидуальная консультация по результатам обследования
                            ветеринарного
                            врача высшей категории</span>
                </a>
                <svg class="content-title__img">
                    <use href="../images/icons.svg#i-right-arrow"></use>
                </svg>
                <span class="content-title__text">Редактировать</span>
            {% else %}
                <span class="content-title__text">Новая услуга</span>
            {% endif %}
        </div>
        <h1 class="content-title__title">
            {% if service %}
                {{ service.name }}
            {% else %}
                Добавить услугу
            {% endif %}
        </h1>
        <div class="m-sub-menu">
            <button class="m-sub-menu__btn">Все направления</button>
        </div>
    </div>
    <form method="POST" class="adm-card">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <h3>Название услуги</h3>
        <input type="text" name="service_name" class="adm-card__container-text">
        <h3>Описание услуги</h3>
        <textarea name="" id="" class="adm-card__container-text" rows="5"></textarea>
        <div class="row">
            <div class="col">
                <h3>Стоимость:</h3>
                <input type="number">
            </div>
            <div class="col">
                <h3>Длительность:</h3>
                <input type="number">
            </div>
            <div class="col">
                <h3>Показывать на сайте:</h3>
                <select name="" id="">
                    <option value="">Да</option>
                    <option value="">Нет</option>
                </select>
            </div>
            <div class="col">
                <h3>Необходима медсестра:</h3>
                <select name="" id="">
                    <option value="">Да</option>
                    <option value="">Нет</option>
                </select>
            </div>
        </div>
        <div class="adm-card__btns"  style="padding-left: 0;">
            <button type="submit" class="btn__min-orange">Сохранить</button>
            {% if service %}
                <a href="#" class="btn__min-orange">Удалить</a>
            {% endif %}
        </div>
    </form>




{% endblock %}