{% extends 'base.html' %}

{% load static %}


{% block title %}Услуги{% endblock %}

{% block sub-menu__title%}
    <h2>Направления</h2>
{% endblock %}

{% block left-menu %}
    {% if direction_active == 0 %}
        <a href="{% url 'services:client_list' %}" class="sub-menu__link">
            <span class="sub-menu__active">Все ({{services_amount}})</span>
            <svg class="sub-menu__img sub-menu__active">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    {% else %}
        <a href="{% url 'services:client_list' %}" class="sub-menu__link">
            <span>Все ({{services_amount}})</span>
            <svg class="sub-menu__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    {% endif %}
    {% if directions_list %}
        {% for direction in directions_list %}
            <a href="{% url 'services:client_category' direction.id %}" class="sub-menu__link">
                {% if direction == direction_active %}
                    <span class="sub-menu__active">{{ direction.name }} ({{ direction.services.count }})</span>
                    <svg class="sub-menu__img sub-menu__active">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% else %}
                    <span>{{ direction.name }} ({{ direction.services.count }})</span>
                    <svg class="sub-menu__img">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% endif %}
            </a>
        {% endfor %}
    {% else %} направления не найдены
    {% endif %}
{% endblock %}

{% block content %}
    <div class="content-title">
        <div class="content-title__crumbs">
            <a href="index.html" class="content-title__link">
                <span>Главная</span>
            </a>
            <svg class="content-title__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
            {% if direction_active == 0%}
                <a href="{% url 'services:client_list' %}" class="content-title__link">
                    <span>Услуги - Все</span>
                </a>
            {% else %}
                <a href="{% url 'services:client_category' direction_active.id %}" class="content-title__link">
                    <span>Услуги - {{direction_active.name}}</span>
                </a>
            {% endif %}
            <svg class="content-title__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
            <span class="content-title__text">{{service.name}}</span>
        </div>
        <h1 class="content-title__title">{{service.name}}</h1>
        <div class="m-sub-menu">
            <button class="m-sub-menu__btn">Все направления</button>
        </div>
    </div>
    <div class="card-title">
        <div class="card-title__stars">
            <svg>
                <use href="{% static '' %}images/icons.svg#i-star-full"></use>
            </svg>
            <svg>
                <use href="{% static '' %}images/icons.svg#i-star-full"></use>
            </svg>
            <svg>
                <use href="{% static '' %}images/icons.svg#i-star-full"></use>
            </svg>
            <svg>
                <use href="{% static '' %}images/icons.svg#i-star-full"></use>
            </svg>
            <svg>
                <use href="{% static '' %}images/icons.svg#i-star-full"></use>
            </svg>
        </div>
        <div class="card-title__text">
            <div class="card-title__cost">{{service.cost}} руб.</div>
        </div>
    </div>
    <section class="card-info">
        <h3 class="card-h3">Описание услуги</h3>
        <div class="card-info__row">
            <div class="card-info__text">
                <span class="card-info__info">{{service.description}}</span>
                <span class="card-info__time">
                    Продолжительность: {{service.duration}} мин
                </span>
            </div>
            <div class="card-info__buttons">
                <a href="appointment.html" class="btn__min-orange">Записаться на услугу</a>
                <a href="add-review.html" class="btn__min-yellow">Оставить отзыв</a>
            </div>
        </div>
    </section>
    {% if service_doctors %}
        <section class="card-doctors">
            <h3 class="card-h3">Врачи</h3>
            <div class="card-doctors__row">
                {% for doc in service_doctors %}
                    <a href="doctor-card.html" class="card-doctors__item">
                        {% if doc.photo %}
                            <img src="{{doc.photo.url}}" alt="">
                        {% endif %} 
                        <span class="ld__doctors__name">{{doc.surname}} {{doc.name}} {{doc.patronymic}}</span>
                        <span class="ld__doctors__info">{{doc.position}}</span>
                        <div class="card-doctors__btn-visit">
                            <button class="btn__min-orange">Записаться к врачу</button>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="card-doctors__btn-all">
                <button class="btn__max-yellow">Показать всех</button>
            </div>
        </section>
    {% endif %} 

{% if services_reviews %}
    <section class="card-reviews">
        <div class="card-reviews__list">
            <h3 class="card-h3" style="margin-left: 5px;">Отзывы</h3>
            {% for review in services_reviews %}
                <div class="card-reviews__item">
                    <div class="card-reviews__client">
                        <div class="card-reviews__col-1">
                            <img src="{{review.client.photo.url}}" alt="">
                        </div>
                        <div class="card-reviews__col-2">
                            <div class="card-reviews__stars">
                                <svg>
                                    <use href="{% static '' %}images/icons.svg#i-star-full"></use>
                                </svg>
                                <svg>
                                    <use href="{% static '' %}images/icons.svg#i-star-full"></use>
                                </svg>
                                <svg>
                                    <use href="{% static '' %}images/icons.svg#i-star-full"></use>
                                </svg>
                                <svg>
                                    <use href="{% static '' %}images/icons.svg#i-star-full"></use>
                                </svg>
                                <svg>
                                    <use href="{% static '' %}images/icons.svg#i-star-empty"></use>
                                </svg>
                            </div>
                            <span class="card-reviews__name">{{ review.client.surname }} {{ review.client.name }} {{ review.client.patronymic }}</span>
                        </div>
                    </div>
                    <div class="card-reviews__review-content">
                        <span>Отзыв</span>
                        {% if review.service%}
                            <span>Услуга: {{ review.service.name }}</span>
                        {% else %}
                            <span>Услуга: {{ review.doctor.name }}</span>
                        {% endif %}
                        <div class="card-reviews__input cropping">
                            <div class="card-reviews__review-text">{{review.content}}</div>
                        </div>
                        {% if review.comment %}
                            <span>Комментарий</span>
                            <div class="card-reviews__input cropping">
                                <div class="card-reviews__comment-text">{{review.comment}}</div>
                            </div>
                        {% endif %}
                        <div class="card-reviews__button">
                            <a class="btn__min-yellow" href="review-card.html">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="card-reviews__btn-all" style="margin-bottom: 10px">
            <button class="btn__max-yellow">Показать еще</button>
        </div>
    </section>
{% endif %}


{% endblock %}