{% extends 'base.html' %}

{% load static %}

{% block title %}Услуги{% endblock %}

{% block sub-menu__title%}
    <h2>Направления</h2>
{% endblock %}

{% block left-menu %}
    {% if direction_active == 0 %}
        <a href="{% url 'services:client_list' %}" class="sub-menu__link">
            <span class="sub-menu__active">Все ({{services_amount}})</span>
            <svg class="sub-menu__img sub-menu__active">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    {% else %}
        <a href="{% url 'services:client_list' %}" class="sub-menu__link">
            <span>Все ({{services_amount}})</span>
            <svg class="sub-menu__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </a>
    {% endif %}
    {% if directions_list %}
        {% for direction in directions_list %}
            <a href="{% url 'services:client_category' direction.id %}" class="sub-menu__link">
                {% if direction == direction_active %}
                    <span class="sub-menu__active">{{ direction.name }} ({{ direction.services.count }})</span>
                    <svg class="sub-menu__img sub-menu__active">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% else %}
                    <span>{{ direction.name }} ({{ direction.services.count }})</span>
                    <svg class="sub-menu__img">
                            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                    </svg>
                {% endif %}
            </a>
        {% endfor %}
    {% else %} направления не найдены
    {% endif %}
{% endblock %}

{% block content %}
<div class="content-title adm">
        <div class="content-title__crumbs">
            <a href="index.html" class="content-title__link">
                <span>Главная</span>
            </a>
            <svg class="content-title__img">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
            {% if direction_active == 0%}
                <span class="content-title__text">Услуги - Все</span>
            {% else %}
                <span class="content-title__text">Услуги - {{direction_active.name}}</span>
            {% endif %}
        </div>
        <h1 class="content-title__title">Услуги</h1>
        <div class="m-sub-menu">
            <button class="m-sub-menu__btn">Все направления</button>
        </div>
    </div>
    <section class="search-row">
        <form class="search" style="width: 100%;" action="{% url 'services:client_list' %}">
            <div class="search__img">
                <label class="search__label" for="search">
                    <svg>
                        <use href="{% static '' %}images/icons.svg#i-search"></use>
                    </svg>
                </label>
            </div>
            <input name="search" id="search" class="search__input" type="text" placeholder="найти услугу">
            <button type="submit" class="search__button">
                <svg class="search__button">
                    <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
                </svg>
            </button>
        </form>
    </section>
    <section class="list">
        {% if services_list %}
            {% for service in services_list.object_list %}
                {% if direction_active == 0 %}
                    <a href="{% url 'services:client_detail' direction_active service.id %}" class="list__item">
                        <div class="list__description">
                            <div class="list__id">
                                <span class="id">{{ service.id }}</span>
                                <span class="name">{{ service.name }}</span>
                            </div>
                        </div>
                        <div class="list__cost">
                            <span>{{ service.cost }} pуб.</span>
                        </div>
                    </a>
                {% else %}
                    <a href="{% url 'services:client_detail' direction_active.id service.id %}" class="list__item">
                        <div class="list__description">
                            <div class="list__id">
                                <span class="id">{{ service.id }}</span>
                                <span class="name">{{ service.name }}</span>
                            </div>
                        </div>
                        <div class="list__cost">
                            <span>{{ service.cost }} pуб.</span>
                        </div>
                    </a>
                {% endif %}
            {% endfor %}
        {% else %} услуги не найдены
        {% endif %}
    </section>
    <section class="pagination">
        {% if services_list.has_previous %}
            <a href="?page={{ services_list.previous_page_number }}">«</a>
        {% endif %}
        {% for pg in services_list.paginator.page_range %}
            {% if services_list.number == pg %}
                <a href="?page={{ pg }}" class="pagination__active">{{ pg }}</a>
            {% else %}
                <a href="?page={{ pg }}">{{ pg }}</a>
            {% endif %}
        {% endfor %}
        {% if services_list.has_next %}
            <a href="?page={{ services_list.next_page_number }}">»</a>
        {% endif %}
    </section>

{% endblock %}

