{% extends 'base-adm.html' %}

{% load static %}

{% block title %}Приемы{% endblock %}


{% block content %}
<div class="content-title adm">
    <div class="content-title__crumbs">
        <span class="content-title__text">Приемы - все</span>
    </div>
    <h1 class="content-title__title">Приемы - все</h1>
    <div class="m-sub-menu">
        <button class="m-sub-menu__btn">Все категории</button>
    </div>
</div>
<section class="search-sorting">
    <form class="search">
        <div class="search__img">
            <label class="search__label" for="search">
                <svg>
                    <use href="../images/icons.svg#i-search"></use>
                </svg>
            </label>
        </div>
        <input id="search" class="search__input" type="text" placeholder="найти клиента">
        <button class="search__button">
            <svg class="search__button">
                <use href="../images/icons.svg#i-right-arrow"></use>
            </svg>
        </button>
    </form>
    <div class="search-sorting__sort">
        <input type="radio" name="sort" id="id">
        <label for="id">ID</label>
        <input type="radio" name="sort" id="date">
        <label for="date">Дата</label>
        <svg>
            <use href="../images/icons.svg#i-bottom-arrow"></use>
        </svg>
    </div>
    <div class="search-sorting__btn">
        <a href="{% url 'visits:client_app' %}" class="btn__min-orange">Добавить запись</a>
    </div>
    <div class="row-date">
        <label for="date">Поиск по дате</label>
        <input type="date" name="" id="date">
        <span>-</span>
        <input type="date" name="" id="">
    </div>
</section>
<section class="list">
    {% if visits_all %}
    {% for visit in visits_all %}
    <div class="list__item list__visit">
        <div class="row">
            <h4>ID:</h4>
            <span>{{visit.id}}</span>
        </div>
        <div class="row">
            <h4>Дата и время:</h4>
            <span>{{visit.date}}</span>
        </div>
        <div class="row">
            <h4>Филиал:</h4>
            <span>{{visit.filial.address}}</span>
        </div>
        <div class="row">
            <h4>Кабинет:</h4>
            <span>{{visit.cabinet.name}}</span>
        </div>
        <a href="#" class="row">
            <h4>Врач:</h4>
            <span>{{visit.doctor.surname}} {{visit.doctor.name|truncatechars:2}} {{visit.doctor.patronymic|truncatechars:2}}</span>
        </a>
        <a href="#" class="row">
            <h4>Клиент:</h4>
            {% if visit.client %}
            <span>{{visit.client.surname}} {{visit.client.name|truncatechars:2}} {{visit.client.patronymic|truncatechars:2}}</span>
            {% else %}
            <span>{{visit.name}}</span>
            {% endif %}
        </a>
        <a href="#" class="row">
            <h4>Питомец:</h4>
            <span>{{ visit.pet.kind.value }} {{ visit.pet.name }}</span>
        </a>
        <div class="row">
            <h4>Оплата</h4>
            <span>{{visit.cost}}</span>
        </div>
        <a href="#" class="row">
            <h4>Логин:</h4>
            <span>{{adm_detail.client.user.username}}</span>        
        </a>
        <div class="row" style="width: 100%;">
            <h4>Услуга (-и):</h4>
            {% if visit.sale != None %}
            {% for service in visit.sale.services.all %}
            <span style="margin-right: 5px;">{{ service.name }}</span>
            {% endfor %}
            {% else %}
            {% for service in visit.services.all %}
            <span style="margin-right: 5px;">{{ service.name }}</span style="margin-right: 5px;">
            {% endfor %}
            {% endif %}
        </div>
        <a href="{% url 'visits:adm_detail' visit.id %}" class="btn__min-yellow">Подробнее</a>
    </div>
    {% endfor %}
    {% endif %}
</section>
<section class="pagination">
    {% if visits_all.has_previous %}
        <a href="?page={{ visits_all.previous_page_number }}">«</a>
    {% endif %}
    {% for pg in visits_all.paginator.page_range %}
        {% if visits_all.number == pg %}
            <a href="?page={{ pg }}" class="pagination__active">{{ pg }}</a>
        {% else %}
            <a href="?page={{ pg }}">{{ pg }}</a>
        {% endif %}
    {% endfor %}
    {% if visits_all.has_next %}
        <a href="?page={{ visits_all.next_page_number }}">»</a>
    {% endif %}
</section>

{% endblock %}