{% extends 'base-adm.html' %}

{% load static %}

{% block title %}Запись на прием{% endblock %}

{% block content %}
<div class="content-title">
    <div class="content-title__crumbs">
        <a href="{% url 'visits:adm_list'%}" class="content-title__link">
            <span>Приемы</span>
        </a>
        <svg class="content-title__img">
            <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
        </svg>
        <span class="content-title__text">Запись на прием</span>
    </div>
    <h1 class="content-title__title">Запись на прием</h1>
</div>
<section>
    <form class="app" method="POST">
        {% csrf_token %}
        <div class="app__col-1">
            <label for="fio">ФИО</label>
            {{form.name}}
            <label for="tel">Телефон</label>
            {{form.phone}}

            <label for="pets">Питомец</label>
            {{form.pet_kind}}
            <label for="name">Кличка</label>
            {{form.pet_name}}

            <label for="services">Процедура</label>
            {{form.services}}
        </div>
        <div class="app__col-2">
            <div class="row">
                <div class="col">
                    <label for="filial">Филиал</label>
                    <select name="filial" id="filial">
                        {% for filial in filials_all %}
                        {% if filial == visit.filial %}
                        <option value="{{filial.id}}" selected>{{filial.address}}</option>
                        {% else %}
                        <option value="{{filial.id}}">{{filial.address}}</option>
                        {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="cabinet">Кабинет</label>
                    <select name="cabinet" id="cabinet">
                        {% for cabinet in cabinets_all %}
                        <option value="{{cabinet.id}}">{{cabinet.name}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label for="doctor">Врач</label>
                    <select name="doctor" id="doctor">
                        {% for doctor in doctors_all %}
                        <option value="{{doctor.id}}">{{doctor.surname}} {{doctor.name}} {{doctor.patronymic}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col">
                    <label for="date">Дата</label>
                    <select name="date" id="date">
                        {% for date in date_all %}
                        <option value="-{{date.day}}-{{date.month}}-{{date.year}}-">{{date}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <label>Время</label>
            <div class="app__time">
                <label for="08:00" class="cell" style="font-weight:normal">
                    <input id="08:00" value="08:00" type="radio" name="time" checked>
                    <span class="cell-bg">08:00</span>
                </label>
                <label for="08:20" class="cell" style="font-weight:normal">
                    <input id="08:20" value="08:20" type="radio" name="time">
                    <span class="cell-bg">08:20</span>
                </label>
                <label for="08:40" class="cell" style="font-weight:normal">
                    <input id="08:40" value="08:40" type="radio" name="time">
                    <span class="cell-bg">08:40</span>
                </label>
                <label for="09:00" class="cell" style="font-weight:normal">
                    <input id="09:00" value="09:00" type="radio" name="time">
                    <span class="cell-bg">09:00</span>
                </label>
                <label for="09:20" class="cell" style="font-weight:normal">
                    <input id="09:20" value="09:20" type="radio" name="time">
                    <span class="cell-bg">09:20</span>
                </label>
                <label for="09:40" class="cell" style="font-weight:normal">
                    <input id="09:40" value="09:40" type="radio" name="time">
                    <span class="cell-bg">09:40</span>
                </label>
                <label for="10:00" class="cell" style="font-weight:normal">
                    <input id="10:00" value="10:00" type="radio" name="time">
                    <span class="cell-bg">10:00</span>
                </label>
                <label for="10:20" class="cell" style="font-weight:normal">
                    <input id="10:20" value="10:20" type="radio" name="time">
                    <span class="cell-bg">10:20</span>
                </label>
            </div>
        </div>
        <div class="app__col-3">
            <div class="app__col-1">
                <label for="cost">Общая стоимость</label>
                <input name="cost" readonly type="text" class="app__cost" value="">
                <label for="duration">Продолжительность</label>
                <input name="duration" readonly type="text" class="app__cost" value="">
            </div>
            <div class="app__btn">
                <button type="submit" class="btn__min-orange">Сохранить</button>
            </div>
        </div>
    </form>
</section>
{% endblock %}
{% block js %}
<script>window.AppoitmentData=JSON.parse('{{data|safe}}')</script>
<script src="{% static './appoitment.js' %}"></script>
{% endblock %}