{% extends 'base-not-sub-menu-adm.html' %}

{% block content %}
<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100%;">
    <span style="margin-bottom: 20px; font-size: 1.85em;">Запись добавлена!</span> 
</div>  

{% endblock %}