{% extends 'base-adm.html' %}

{% load static %}

{% block title %}Клиенты{% endblock %}


{% block content %}
<div class="content-title adm">
    <div class="content-title__crumbs">
        <span class="content-title__text">Клиенты</span>
    </div>
    <h1 class="content-title__title">Клиенты</h1>
</div>
<section class="search-sorting">
    <form class="search">
        <div class="search__img">
            <label class="search__label" for="search">
                <svg>
                    <use href="{% static '' %}images/icons.svg#i-search"></use>
                </svg>
            </label>
        </div>
        <input id="search" class="search__input" type="text" placeholder="найти клиента">
        <button class="search__button">
            <svg class="search__button">
                <use href="{% static '' %}images/icons.svg#i-right-arrow"></use>
            </svg>
        </button>
    </form>
    <div class="search-sorting__sort">
        <input class="" type="radio" name="sort" id="id">
        <label class="" for="id">ID</label>
        <input class="" type="radio" name="sort" id="fio">
        <label class="" for="fio">ФИО</label>
        <svg>
            <use href="{% static '' %}images/icons.svg#i-bottom-arrow"></use>
        </svg>
    </div>
    <div class="search-sorting__btn">
        <a href="adm-client-card__edit.html" class="btn__min-orange">Добавить клиента</a>
    </div>
</section>
<section class="list">
    {% if clients_all %}
    {% for client in clients_all %}
    <a href="#" class="list__item">
        <div class="list__person">
            <div class="id">{{ client.id }}</div>
            <div class="name">{{client.surname}} {{client.name}} {{client.patronymic}}</div>
            <div class="tel">{{ client.phone }}</div>
            <!-- <div class="pets">Питомцы (3)</div> -->
            <div class="name">{{client.user.username}}</div>
            <!-- <div class="last-visit">Последнее посещение: 30.10.2019</div> -->
        </div>
    </a>
    {% endfor %}
    {% endif %}
</section>
<section class="pagination">
    {% if clients_all.has_previous %}
    <a href="?page={{ clients_all.previous_page_number }}">«</a>
    {% endif %}
    {% for pg in clients_all.paginator.page_range %}
    {% if clients_all.number == pg %}
    <a href="?page={{ pg }}" class="pagination__active">{{ pg }}</a>
    {% else %}
    <a href="?page={{ pg }}">{{ pg }}</a>
    {% endif %}
    {% endfor %}
    {% if clients_all.has_next %}
    <a href="?page={{ clients_all.next_page_number }}">»</a>
    {% endif %}
</section>
{% endblock %}